n8n_workflows/Generar Indicadores.json
{
  "name": "Generar Indicadores",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-indicadores",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        1344
      ],
      "id": "a051ebfe-8956-4ec4-8fc8-f1ea3a75465f",
      "name": "Webhook",
      "webhookId": "0b0f8ddd-f0bb-476b-ac21-9e81f74f2c6c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Formatear Salida Final').first().json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        672
      ],
      "id": "e317bab9-00c6-4eb8-8bb3-3380649b39de",
      "name": "Respuesta Exitosa (200)"
    },
    {
      "parameters": {
        "jsCode": "// --- Inicio: Código CORREGIDO para \"Validar y Extraer Indicadores\" (ID 2615...) ---\n\n// 1. OBTENER DATOS DE ENTRADA\nconst itemData = $input.first().json;\nconst rawResponse = itemData.output;\n// Buscamos la estructura MEI del nodo de bucle\nconst estructuraMEI = $('Procesar Uno por Uno').first().json.estructuraMEI; \n\n// 2. FUNCIÓN DE EXTRACCIÓN (Simple)\nfunction extractJsonArray(text) {\n  const arrayStart = text.indexOf('[');\n  const arrayEnd = text.lastIndexOf(']');\n  if (arrayStart === -1 || arrayEnd === -1) {\n    throw new Error(\"Respuesta de IA no contiene un array JSON válido.\");\n  }\n  const jsonString = text.substring(arrayStart, arrayEnd + 1);\n  return JSON.parse(jsonString);\n}\n\n// 3. PARSEAR LA RESPUESTA\nconst indicadoresGeneradosLLM = extractJsonArray(rawResponse);\n\n\n// 4. TRANSFORMACIÓN CONDICIONAL\nlet indicadoresGenerados;\n\nif (estructuraMEI === 'MEI-Actualizado') {\n    // Mapeo para la estructura del frontend (RF-RA-ID)\n    indicadoresGenerados = indicadoresGeneradosLLM.map(indicador => {\n        return {\n            // *** CORRECCIÓN CLAVE ***\n            // El Agente 3 devuelve \"id_texto_original\", no \"id_texto\".\n            \"id_texto\": indicador.id_texto, \n            \n            \"verbo_utilizado\": indicador.verbo_utilizado,\n            \"nivel_verbo\": indicador.nivel_verbo,\n            \"justificacion_pedagogica\": indicador.justificacion_pedagogica\n        };\n    });\n} else if (estructuraMEI === 'MEI-Antiguo') {\n    // Mapeo para la estructura de la tabla del frontend (RA-AE-IL)\n    indicadoresGenerados = indicadoresGeneradosLLM.map(indicador => {\n        return {\n            // Usamos las claves con Mayúscula que el Agente 3 SÍ devuelve\n            \"habilidad\": indicador.Habilidad,\n            \"contenido\": indicador.Contenido,\n            \"condicion_contexto\": indicador.Condicion_Contexto,\n            \"justificacion_pedagogica\": indicador.justificacion_pedagogica\n        };\n    });\n} else {\n    indicadoresGenerados = [];\n}\n\n// 5. PREPARAR EL ITEM DE SALIDA (FUSIÓN)\nconst outputItem = {\n  objetivo_actual: itemData.objetivo_actual,\n  contexto_superior: itemData.contexto_superior,\n  estructuraMEI: estructuraMEI, \n  indicadoresGenerados: indicadoresGenerados \n};\n\n// 6. DEVOLVER EL OBJETO LIMPIO\nreturn [outputItem];\n\n// --- Fin: Código CORREGIDO para \"Validar y Extraer Indicadores\" (ID 2615...) ---"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        1744
      ],
      "id": "2615684f-adea-4a7a-ae64-a654ad1df034",
      "name": "Validar y Extraer Indicadores"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body;\nconst { estructuraMEI } = payload;\nconst items = [];\n\nlet objetivosADesglosar = [];\nlet contextoNivelSuperior = {};\n\nif (estructuraMEI === 'MEI-Antiguo') {\n  objetivosADesglosar = payload.aprendizajesEsperados;\n  contextoNivelSuperior = { resultadosAprendizaje: payload.resultadosAprendizaje };\n} else if (estructuraMEI === 'MEI-Actualizado') {\n  objetivosADesglosar = payload.resultadosAprendizaje;\n  contextoNivelSuperior = { resultadosFormativos: payload.resultadosFormativos };\n} else {\n  throw new Error(`Estructura MEI no soportada: ${estructuraMEI}`);\n}\n\nfor (const objetivo of objetivosADesglosar) {\n  items.push({\n    json: {\n      objetivo_actual: objetivo,\n      contexto_superior: contextoNivelSuperior,\n      estructuraMEI: estructuraMEI\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1344
      ],
      "id": "8af13527-364b-4a8a-a708-2ce020ccde37",
      "name": "Desglosar Objetivos en Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        1344
      ],
      "id": "f5d10970-61cb-4e10-957f-66a7ab8e6722",
      "name": "Procesar Uno por Uno"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        672
      ],
      "id": "8460b90d-af4e-4330-85cb-d6fbce45e98d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const aggregatedResults = $input.first().json.data;\nconst originalPayload = $('Webhook').first().json.body;\nconst { estructuraMEI } = originalPayload;\n\nlet finalOutput = { estructuraMEI };\n\nif (estructuraMEI === 'MEI-Antiguo') {\n  finalOutput.resultadosAprendizaje = originalPayload.resultadosAprendizaje;\n  finalOutput.analisisAprendizajesEsperados = [];\n} else if (estructuraMEI === 'MEI-Actualizado') {\n  finalOutput.resultadosFormativos = originalPayload.resultadosFormativos;\n  finalOutput.analisisResultadosAprendizaje = [];\n}\n\n// Iteramos sobre los resultados agregados, que contienen los datos de cada loop.\nfor (const result of aggregatedResults) {\n  // Manejo de errores: Si un loop falló, su 'error' no será null.\n  if (result.error) {\n      if (!finalOutput.errors) finalOutput.errors = [];\n      finalOutput.errors.push({\n          objetivoFallido: result.objetivo_original, // objetivo_original SÍ está disponible aquí\n          detalleError: result.error\n      });\n      continue; // Salta al siguiente resultado\n  }\n\n  // --- CORRECCIÓN CLAVE ---\n  // Construimos el objeto final fusionando el 'objetivo_original' (que contiene id, texto, etc.)\n  // con la nueva propiedad 'indicadoresGenerados'.\n  const resultadoConIndicadores = {\n    ...result.objetivo_original, \n    indicadoresGenerados: result.indicadoresGenerados \n  };\n  // -------------------------\n\n  if (estructuraMEI === 'MEI-Antiguo') {\n    finalOutput.analisisAprendizajesEsperados.push(resultadoConIndicadores);\n  } else if (estructuraMEI === 'MEI-Actualizado') {\n    finalOutput.analisisResultadosAprendizaje.push(resultadoConIndicadores);\n  }\n}\n\nreturn finalOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        672
      ],
      "id": "772a0a0b-d827-4142-b78e-4b020c9a0a5e",
      "name": "Formatear Salida Final"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        1696
      ],
      "id": "53d442c7-9634-46e2-8e0e-a5d3f56faffa",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "0iqywUDpc1FpZaGU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.objetivo_actual.texto }}",
        "categories": {
          "categories": [
            {
              "category": "Reconocer",
              "description": "Recordar o reconocer información, hechos básicos y terminología. Contexto de Ambigüedad: Busca verbos como 'Identificar', 'Describir' o 'Listar' cuando se refieren a un simple acto de señalar, nombrar o recordar (ej. \"Identificar las partes de...\", \"Listar los pasos de...\").  (Verbos Clave: Reconocer, Recordar, Definir, Listar, Nombrar)"
            },
            {
              "category": "Entender",
              "description": "Demostrar comprensión, interpretar, explicar o resumir información. Contexto de Ambigüedad: Busca verbos como 'Identificar' o 'Clasificar' cuando implican agrupar, comparar o entender la relación entre hechos (ej. \"Identificar los tipos de...\", \"Explicar la diferencia...\", \"Resumir el texto...\").  (Verbos Clave: Comprender, Explicar, Resumir, Relacionar, Comparar, Clasificar)"
            },
            {
              "category": "Aplicar",
              "description": "Usar un procedimiento, método o conocimiento en una situación concreta o nueva. Contexto de Ambigüedad: Busca verbos como 'Resolver' o 'Demostrar' cuando se refieren a la ejecución de una rutina o un procedimiento conocido (ej. \"Aplicar la fórmula para...\", \"Resolver la ecuación...\", \"Usar el software para...\").  (Verbos Clave: Aplicar, Usar, Implementar, Resolver (procedimental), Ejecutar, Calcular)"
            },
            {
              "category": "Analizar",
              "description": "Descomponer la información en sus partes para entender su estructura, motivos o causas. Contexto de Ambigüedad: Busca verbos como 'Identificar', 'Comparar' o 'Analizar' cuando implican encontrar patrones, causas ocultas o supuestos (ej. \"Identificar las causas de...\", \"Analizar la estructura de...\", \"Comparar los argumentos...\").  (Verbos Clave: Analizar, Diferenciar, Organizar, Comparar (estructural), Identificar (complejo))"
            },
            {
              "category": "Evaluar",
              "description": "Emitir juicios de valor, criticar o tomar decisiones basándose en criterios y estándares. Contexto de Ambigüedad: Busca verbos como 'Justificar' o 'Criticar' cuando requieren una defensa, juicio o priorización (ej. \"Evaluar la efectividad de...\", \"Justificar la decisión...\", \"Criticar la validez de...\").  (Verbos Clave: Evaluar, Juzgar, Criticar, Justificar, Defender, Priorizar, Valorar)"
            },
            {
              "category": "Crear",
              "description": "Generar, diseñar, producir o construir algo nuevo y original. Reorganizar elementos en una nueva estructura. Contexto de Ambigüedad: Busca verbos como 'Diseñar' o 'Proponer' cuando implican la generación de una solución o producto novedoso (ej. \"Diseñar un nuevo plan...\", \"Proponer una solución alternativa...\", \"Elaborar un proyecto...\").  (Verbos Clave: Crear, Diseñar, Proponer, Formular, Construir, Elaborar)"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Eres un \"Clasificador Taxonómico Experto\" especializado en la Taxonomía Cognitiva UNAB. Recibirás un Resultado de Aprendizaje (RA) completo.\n\nTu única tarea es analizar el RA para determinar su nivel cognitivo (ej. RECONOCER, ENTENDER, etc.).\n\n### REGLA CRÍTICA: RESOLUCIÓN DE AMBIGÜEDAD\nNo te bases *solo* en el primer verbo (ej. \"Identificar\", \"Analizar\"), ya que muchos verbos son ambiguos y pueden pertenecer a múltiples niveles.\n\nPara resolver la ambigüedad, DEBES analizar el *complemento* del verbo (el objeto y el contexto de la frase) y compararlo con las descripciones de las 6 categorías.\n\n**Ejemplo de tu lógica interna:**\n-   Si el RA es \"Identificar las partes de una célula\", el complemento (\"partes de una célula\") es un simple recuerdo. El nivel es **RECONOCER**.\n-   Si el RA es \"Identificar las causas de la crisis financiera\", el complemento (\"causas de la crisis\") requiere descomponer un problema. El nivel es **ANALIZAR**.\n\nCompara el RA completo con las 6 categorías siguientes y responde *únicamente* con el nombre de la categoría que mejor corresponda."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        752,
        1344
      ],
      "id": "e3ce6fac-19e4-4cd2-a1c5-fb3731897e58",
      "name": "Clasificar Nivel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0655c9db-c3fe-4917-92cd-c9b8f9a1c4e2",
              "name": "Verbos",
              "value": "={\n  \"lista_verbos_permitidos\": [\n    {\"verbo\": \"ANOTAR\", \"nivel\": 1},\n    {\"verbo\": \"CITAR\", \"nivel\": 1},\n    {\"verbo\": \"DEFINIR\", \"nivel\": 1},\n    {\"verbo\": \"DENOMINAR\", \"nivel\": 1},\n    {\"verbo\": \"DESCRIBIR\", \"nivel\": 1},\n    {\"verbo\": \"ENUMERAR\", \"nivel\": 1},\n    {\"verbo\": \"IDENTIFICAR\", \"nivel\": 1},\n    {\"verbo\": \"INDICAR\", \"nivel\": 1},\n    {\"verbo\": \"LISTAR\", \"nivel\": 1},\n    {\"verbo\": \"MARCAR\", \"nivel\": 1},\n    {\"verbo\": \"MENCIONAR\", \"nivel\": 1},\n    {\"verbo\": \"MOSTRAR\", \"nivel\": 1},\n    {\"verbo\": \"NOMBRAR\", \"nivel\": 1},\n    {\"verbo\": \"RECONOCER\", \"nivel\": 1},\n    {\"verbo\": \"RECORDAR\", \"nivel\": 1},\n    {\"verbo\": \"ROTULAR\", \"nivel\": 1},\n    {\"verbo\": \"SEÑALAR\", \"nivel\": 1},\n    {\"verbo\": \"UBICAR\", \"nivel\": 1}\n  ]\n}",
              "type": "object"
            },
            {
              "id": "f9a869e8-29db-4c79-b3c1-4d7ed739a56f",
              "name": "nivel_ra",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        864
      ],
      "id": "d110bf6c-c60c-41b5-b762-3e2c4967fb0a",
      "name": "Verbos Reconocer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0655c9db-c3fe-4917-92cd-c9b8f9a1c4e2",
              "name": "Verbos",
              "value": "={\n  \"lista_verbos_permitidos\": [\n    {\"verbo\": \"ANOTAR\", \"nivel\": 1},\n    {\"verbo\": \"CITAR\", \"nivel\": 1},\n    {\"verbo\": \"DEFINIR\", \"nivel\": 1},\n    {\"verbo\": \"DENOMINAR\", \"nivel\": 1},\n    {\"verbo\": \"DESCRIBIR\", \"nivel\": 1},\n    {\"verbo\": \"ENUMERAR\", \"nivel\": 1},\n    {\"verbo\": \"IDENTIFICAR\", \"nivel\": 1},\n    {\"verbo\": \"INDICAR\", \"nivel\": 1},\n    {\"verbo\": \"LISTAR\", \"nivel\": 1},\n    {\"verbo\": \"MARCAR\", \"nivel\": 1},\n    {\"verbo\": \"MENCIONAR\", \"nivel\": 1},\n    {\"verbo\": \"MOSTRAR\", \"nivel\": 1},\n    {\"verbo\": \"NOMBRAR\", \"nivel\": 1},\n    {\"verbo\": \"RECONOCER\", \"nivel\": 1},\n    {\"verbo\": \"RECORDAR\", \"nivel\": 1},\n    {\"verbo\": \"ROTULAR\", \"nivel\": 1},\n    {\"verbo\": \"SEÑALAR\", \"nivel\": 1},\n    {\"verbo\": \"UBICAR\", \"nivel\": 1},\n    {\"verbo\": \"ASOCIAR\", \"nivel\": 2},\n    {\"verbo\": \"CLASIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPARAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPRENDER\", \"nivel\": 2},\n    {\"verbo\": \"DISTINGUIR\", \"nivel\": 2},\n    {\"verbo\": \"EJEMPLIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"EXPLICAR\", \"nivel\": 2},\n    {\"verbo\": \"INFERIR\", \"nivel\": 2},\n    {\"verbo\": \"INTERPRETAR\", \"nivel\": 2},\n    {\"verbo\": \"ORGANIZAR\", \"nivel\": 2},\n    {\"verbo\": \"RELACIONAR\", \"nivel\": 2},\n    {\"verbo\": \"RESUMIR\", \"nivel\": 2}\n  ]\n}",
              "type": "object"
            },
            {
              "id": "16a628d7-4c98-4cb0-a16c-f7ba5bce565c",
              "name": "nivel_ra",
              "value": "2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        1056
      ],
      "id": "816fdb2b-9c22-4821-9556-6ed9ea5f9a3e",
      "name": "Verbos Entender"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0655c9db-c3fe-4917-92cd-c9b8f9a1c4e2",
              "name": "Verbos",
              "value": "={\n  \"lista_verbos_permitidos\": [\n    {\"verbo\": \"ANOTAR\", \"nivel\": 1},\n    {\"verbo\": \"CITAR\", \"nivel\": 1},\n    {\"verbo\": \"DEFINIR\", \"nivel\": 1},\n    {\"verbo\": \"DENOMINAR\", \"nivel\": 1},\n    {\"verbo\": \"DESCRIBIR\", \"nivel\": 1},\n    {\"verbo\": \"ENUMERAR\", \"nivel\": 1},\n    {\"verbo\": \"IDENTIFICAR\", \"nivel\": 1},\n    {\"verbo\": \"INDICAR\", \"nivel\": 1},\n    {\"verbo\": \"LISTAR\", \"nivel\": 1},\n    {\"verbo\": \"MARCAR\", \"nivel\": 1},\n    {\"verbo\": \"MENCIONAR\", \"nivel\": 1},\n    {\"verbo\": \"MOSTRAR\", \"nivel\": 1},\n    {\"verbo\": \"NOMBRAR\", \"nivel\": 1},\n    {\"verbo\": \"RECONOCER\", \"nivel\": 1},\n    {\"verbo\": \"RECORDAR\", \"nivel\": 1},\n    {\"verbo\": \"ROTULAR\", \"nivel\": 1},\n    {\"verbo\": \"SEÑALAR\", \"nivel\": 1},\n    {\"verbo\": \"UBICAR\", \"nivel\": 1},\n    {\"verbo\": \"ASOCIAR\", \"nivel\": 2},\n    {\"verbo\": \"CLASIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPARAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPRENDER\", \"nivel\": 2},\n    {\"verbo\": \"DISTINGUIR\", \"nivel\": 2},\n    {\"verbo\": \"EJEMPLIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"EXPLICAR\", \"nivel\": 2},\n    {\"verbo\": \"INFERIR\", \"nivel\": 2},\n    {\"verbo\": \"INTERPRETAR\", \"nivel\": 2},\n    {\"verbo\": \"ORGANIZAR\", \"nivel\": 2},\n    {\"verbo\": \"RELACIONAR\", \"nivel\": 2},\n    {\"verbo\": \"RESUMIR\", \"nivel\": 2},\n    {\"verbo\": \"APLICAR\", \"nivel\": 3},\n    {\"verbo\": \"CALCULAR\", \"nivel\": 3},\n    {\"verbo\": \"COMPUTAR\", \"nivel\": 3},\n    {\"verbo\": \"DEMOSTRAR\", \"nivel\": 3},\n    {\"verbo\": \"EJECUTAR\", \"nivel\": 3},\n    {\"verbo\": \"EMPLEAR\", \"nivel\": 3},\n    {\"verbo\": \"EXPERIMENTAR\", \"nivel\": 3},\n    {\"verbo\": \"HACER USO\", \"nivel\": 3},\n    {\"verbo\": \"IMPLEMENTAR\", \"nivel\": 3},\n    {\"verbo\": \"MANEJAR\", \"nivel\": 3},\n    {\"verbo\": \"MANIPULAR\", \"nivel\": 3},\n    {\"verbo\": \"MODELAR\", \"nivel\": 3},\n    {\"verbo\": \"OPERAR\", \"nivel\": 3},\n    {\"verbo\": \"REALIZAR\", \"nivel\": 3},\n    {\"verbo\": \"RESOLVER\", \"nivel\": 3},\n    {\"verbo\": \"SELECCIONAR\", \"nivel\": 3},\n    {\"verbo\": \"SIMULAR\", \"nivel\": 3},\n    {\"verbo\": \"SOLUCIONAR\", \"nivel\": 3},\n    {\"verbo\": \"USAR\", \"nivel\": 3},\n    {\"verbo\": \"UTILIZAR\", \"nivel\": 3}\n  ]\n}",
              "type": "object"
            },
            {
              "id": "7b53d86e-093f-4afd-8b73-4018d0291413",
              "name": "nivel_ra",
              "value": "3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        1248
      ],
      "id": "5b932984-d509-4dc6-aede-8ba7ea0ad166",
      "name": "Verbos Aplicar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0655c9db-c3fe-4917-92cd-c9b8f9a1c4e2",
              "name": "Verbos",
              "value": "={\n  \"lista_verbos_permitidos\": [\n    {\"verbo\": \"ANOTAR\", \"nivel\": 1},\n    {\"verbo\": \"CITAR\", \"nivel\": 1},\n    {\"verbo\": \"DEFINIR\", \"nivel\": 1},\n    {\"verbo\": \"DENOMINAR\", \"nivel\": 1},\n    {\"verbo\": \"DESCRIBIR\", \"nivel\": 1},\n    {\"verbo\": \"ENUMERAR\", \"nivel\": 1},\n    {\"verbo\": \"IDENTIFICAR\", \"nivel\": 1},\n    {\"verbo\": \"INDICAR\", \"nivel\": 1},\n    {\"verbo\": \"LISTAR\", \"nivel\": 1},\n    {\"verbo\": \"MARCAR\", \"nivel\": 1},\n    {\"verbo\": \"MENCIONAR\", \"nivel\": 1},\n    {\"verbo\": \"MOSTRAR\", \"nivel\": 1},\n    {\"verbo\": \"NOMBRAR\", \"nivel\": 1},\n    {\"verbo\": \"RECONOCER\", \"nivel\": 1},\n    {\"verbo\": \"RECORDAR\", \"nivel\": 1},\n    {\"verbo\": \"ROTULAR\", \"nivel\": 1},\n    {\"verbo\": \"SEÑALAR\", \"nivel\": 1},\n    {\"verbo\": \"UBICAR\", \"nivel\": 1},\n    {\"verbo\": \"ASOCIAR\", \"nivel\": 2},\n    {\"verbo\": \"CLASIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPARAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPRENDER\", \"nivel\": 2},\n    {\"verbo\": \"DISTINGUIR\", \"nivel\": 2},\n    {\"verbo\": \"EJEMPLIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"EXPLICAR\", \"nivel\": 2},\n    {\"verbo\": \"INFERIR\", \"nivel\": 2},\n    {\"verbo\": \"INTERPRETAR\", \"nivel\": 2},\n    {\"verbo\": \"ORGANIZAR\", \"nivel\": 2},\n    {\"verbo\": \"RELACIONAR\", \"nivel\": 2},\n    {\"verbo\": \"RESUMIR\", \"nivel\": 2},\n    {\"verbo\": \"APLICAR\", \"nivel\": 3},\n    {\"verbo\": \"CALCULAR\", \"nivel\": 3},\n    {\"verbo\": \"COMPUTAR\", \"nivel\": 3},\n    {\"verbo\": \"DEMOSTRAR\", \"nivel\": 3},\n    {\"verbo\": \"EJECUTAR\", \"nivel\": 3},\n    {\"verbo\": \"EMPLEAR\", \"nivel\": 3},\n    {\"verbo\": \"EXPERIMENTAR\", \"nivel\": 3},\n    {\"verbo\": \"HACER USO\", \"nivel\": 3},\n    {\"verbo\": \"IMPLEMENTAR\", \"nivel\": 3},\n    {\"verbo\": \"MANEJAR\", \"nivel\": 3},\n    {\"verbo\": \"MANIPULAR\", \"nivel\": 3},\n    {\"verbo\": \"MODELAR\", \"nivel\": 3},\n    {\"verbo\": \"OPERAR\", \"nivel\": 3},\n    {\"verbo\": \"REALIZAR\", \"nivel\": 3},\n    {\"verbo\": \"RESOLVER\", \"nivel\": 3},\n    {\"verbo\": \"SELECCIONAR\", \"nivel\": 3},\n    {\"verbo\": \"SIMULAR\", \"nivel\": 3},\n    {\"verbo\": \"SOLUCIONAR\", \"nivel\": 3},\n    {\"verbo\": \"USAR\", \"nivel\": 3},\n    {\"verbo\": \"UTILIZAR\", \"nivel\": 3},\n    {\"verbo\": \"ANALIZAR\", \"nivel\": 4},\n    {\"verbo\": \"ATRIBUIR\", \"nivel\": 4},\n    {\"verbo\": \"CONTRASTAR\", \"nivel\": 4},\n    {\"verbo\": \"DEDUCIR\", \"nivel\": 4},\n    {\"verbo\": \"DETERMINAR\", \"nivel\": 4},\n    {\"verbo\": \"DIFERENCIAR\", \"nivel\": 4},\n    {\"verbo\": \"DISCRIMINAR\", \"nivel\": 4},\n    {\"verbo\": \"ESTRUCTURAR\", \"nivel\": 4},\n    {\"verbo\": \"EXAMINAR\", \"nivel\": 4},\n    {\"verbo\": \"INDAGAR\", \"nivel\": 4},\n    {\"verbo\": \"INSPECCIONAR\", \"nivel\": 4},\n    {\"verbo\": \"INTEGRAR\", \"nivel\": 4}\n  ]\n}",
              "type": "object"
            },
            {
              "id": "e970b2d9-e6b3-4dcb-9756-d397d41e8298",
              "name": "nivel_ra",
              "value": "4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        1440
      ],
      "id": "ba593016-6d42-4303-9916-2cf14b281171",
      "name": "Verbos Analizar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0655c9db-c3fe-4917-92cd-c9b8f9a1c4e2",
              "name": "Verbos",
              "value": "={\n  \"lista_verbos_permitidos\": [\n    {\"verbo\": \"ANOTAR\", \"nivel\": 1},\n    {\"verbo\": \"CITAR\", \"nivel\": 1},\n    {\"verbo\": \"DEFINIR\", \"nivel\": 1},\n    {\"verbo\": \"DENOMINAR\", \"nivel\": 1},\n    {\"verbo\": \"DESCRIBIR\", \"nivel\": 1},\n    {\"verbo\": \"ENUMERAR\", \"nivel\": 1},\n    {\"verbo\": \"IDENTIFICAR\", \"nivel\": 1},\n    {\"verbo\": \"INDICAR\", \"nivel\": 1},\n    {\"verbo\": \"LISTAR\", \"nivel\": 1},\n    {\"verbo\": \"MARCAR\", \"nivel\": 1},\n    {\"verbo\": \"MENCIONAR\", \"nivel\": 1},\n    {\"verbo\": \"MOSTRAR\", \"nivel\": 1},\n    {\"verbo\": \"NOMBRAR\", \"nivel\": 1},\n    {\"verbo\": \"RECONOCER\", \"nivel\": 1},\n    {\"verbo\": \"RECORDAR\", \"nivel\": 1},\n    {\"verbo\": \"ROTULAR\", \"nivel\": 1},\n    {\"verbo\": \"SEÑALAR\", \"nivel\": 1},\n    {\"verbo\": \"UBICAR\", \"nivel\": 1},\n    {\"verbo\": \"ASOCIAR\", \"nivel\": 2},\n    {\"verbo\": \"CLASIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPARAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPRENDER\", \"nivel\": 2},\n    {\"verbo\": \"DISTINGUIR\", \"nivel\": 2},\n    {\"verbo\": \"EJEMPLIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"EXPLICAR\", \"nivel\": 2},\n    {\"verbo\": \"INFERIR\", \"nivel\": 2},\n    {\"verbo\": \"INTERPRETAR\", \"nivel\": 2},\n    {\"verbo\": \"ORGANIZAR\", \"nivel\": 2},\n    {\"verbo\": \"RELACIONAR\", \"nivel\": 2},\n    {\"verbo\": \"RESUMIR\", \"nivel\": 2},\n    {\"verbo\": \"APLICAR\", \"nivel\": 3},\n    {\"verbo\": \"CALCULAR\", \"nivel\": 3},\n    {\"verbo\": \"COMPUTAR\", \"nivel\": 3},\n    {\"verbo\": \"DEMOSTRAR\", \"nivel\": 3},\n    {\"verbo\": \"EJECUTAR\", \"nivel\": 3},\n    {\"verbo\": \"EMPLEAR\", \"nivel\": 3},\n    {\"verbo\": \"EXPERIMENTAR\", \"nivel\": 3},\n    {\"verbo\": \"HACER USO\", \"nivel\": 3},\n    {\"verbo\": \"IMPLEMENTAR\", \"nivel\": 3},\n    {\"verbo\": \"MANEJAR\", \"nivel\": 3},\n    {\"verbo\": \"MANIPULAR\", \"nivel\": 3},\n    {\"verbo\": \"MODELAR\", \"nivel\": 3},\n    {\"verbo\": \"OPERAR\", \"nivel\": 3},\n    {\"verbo\": \"REALIZAR\", \"nivel\": 3},\n    {\"verbo\": \"RESOLVER\", \"nivel\": 3},\n    {\"verbo\": \"SELECCIONAR\", \"nivel\": 3},\n    {\"verbo\": \"SIMULAR\", \"nivel\": 3},\n    {\"verbo\": \"SOLUCIONAR\", \"nivel\": 3},\n    {\"verbo\": \"USAR\", \"nivel\": 3},\n    {\"verbo\": \"UTILIZAR\", \"nivel\": 3},\n    {\"verbo\": \"ANALIZAR\", \"nivel\": 4},\n    {\"verbo\": \"ATRIBUIR\", \"nivel\": 4},\n    {\"verbo\": \"CONTRASTAR\", \"nivel\": 4},\n    {\"verbo\": \"DEDUCIR\", \"nivel\": 4},\n    {\"verbo\": \"DETERMINAR\", \"nivel\": 4},\n    {\"verbo\": \"DIFERENCIAR\", \"nivel\": 4},\n    {\"verbo\": \"DISCRIMINAR\", \"nivel\": 4},\n    {\"verbo\": \"ESTRUCTURAR\", \"nivel\": 4},\n    {\"verbo\": \"EXAMINAR\", \"nivel\": 4},\n    {\"verbo\": \"INDAGAR\", \"nivel\": 4},\n    {\"verbo\": \"INSPECCIONAR\", \"nivel\": 4},\n    {\"verbo\": \"INTEGRAR\", \"nivel\": 4},\n    {\"verbo\": \"ARGUMENTAR\", \"nivel\": 5},\n    {\"verbo\": \"CATEGORIZAR\", \"nivel\": 5},\n    {\"verbo\": \"CHEQUEAR\", \"nivel\": 5},\n    {\"verbo\": \"COMPROBAR\", \"nivel\": 5},\n    {\"verbo\": \"CONCLUIR\", \"nivel\": 5},\n    {\"verbo\": \"CRITICAR\", \"nivel\": 5},\n    {\"verbo\": \"DECIDIR\", \"nivel\": 5},\n    {\"verbo\": \"DEFENDER\", \"nivel\": 5},\n    {\"verbo\": \"DETECTAR\", \"nivel\": 5},\n    {\"verbo\": \"DIAGNOSTICAR\", \"nivel\": 5},\n    {\"verbo\": \"ESCOGER\", \"nivel\": 5},\n    {\"verbo\": \"EVALUAR\", \"nivel\": 5},\n    {\"verbo\": \"FUNDAMENTAR\", \"nivel\": 5},\n    {\"verbo\": \"INVESTIGAR\", \"nivel\": 5},\n    {\"verbo\": \"JERARQUIZAR\", \"nivel\": 5},\n    {\"verbo\": \"JUZGAR\", \"nivel\": 5},\n    {\"verbo\": \"JUSTIFICAR\", \"nivel\": 5},\n    {\"verbo\": \"MEDIR\", \"nivel\": 5},\n    {\"verbo\": \"MONITOREAR\", \"nivel\": 5},\n    {\"verbo\": \"PRIORIZAR\", \"nivel\": 5},\n    {\"verbo\": \"PROBAR\", \"nivel\": 5},\n    {\"verbo\": \"SINTETIZAR\", \"nivel\": 5},\n    {\"verbo\": \"VALORAR\", \"nivel\": 5}\n  ]\n}",
              "type": "object"
            },
            {
              "id": "34834b47-af25-4902-b659-33abe9974a6a",
              "name": "nivel_ra",
              "value": "5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        1632
      ],
      "id": "08f71bc0-9767-40a2-99b1-4b2a36551609",
      "name": "Verbos Evaluar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0655c9db-c3fe-4917-92cd-c9b8f9a1c4e2",
              "name": "Verbos",
              "value": "={\n  \"lista_verbos_permitidos\": [\n    {\"verbo\": \"ANOTAR\", \"nivel\": 1},\n    {\"verbo\": \"CITAR\", \"nivel\": 1},\n    {\"verbo\": \"DEFINIR\", \"nivel\": 1},\n    {\"verbo\": \"DENOMINAR\", \"nivel\": 1},\n    {\"verbo\": \"DESCRIBIR\", \"nivel\": 1},\n    {\"verbo\": \"ENUMERAR\", \"nivel\": 1},\n    {\"verbo\": \"IDENTIFICAR\", \"nivel\": 1},\n    {\"verbo\": \"INDICAR\", \"nivel\": 1},\n    {\"verbo\": \"LISTAR\", \"nivel\": 1},\n    {\"verbo\": \"MARCAR\", \"nivel\": 1},\n    {\"verbo\": \"MENCIONAR\", \"nivel\": 1},\n    {\"verbo\": \"MOSTRAR\", \"nivel\": 1},\n    {\"verbo\": \"NOMBRAR\", \"nivel\": 1},\n    {\"verbo\": \"RECONOCER\", \"nivel\": 1},\n    {\"verbo\": \"RECORDAR\", \"nivel\": 1},\n    {\"verbo\": \"ROTULAR\", \"nivel\": 1},\n    {\"verbo\": \"SEÑALAR\", \"nivel\": 1},\n    {\"verbo\": \"UBICAR\", \"nivel\": 1},\n    {\"verbo\": \"ASOCIAR\", \"nivel\": 2},\n    {\"verbo\": \"CLASIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPARAR\", \"nivel\": 2},\n    {\"verbo\": \"COMPRENDER\", \"nivel\": 2},\n    {\"verbo\": \"DISTINGUIR\", \"nivel\": 2},\n    {\"verbo\": \"EJEMPLIFICAR\", \"nivel\": 2},\n    {\"verbo\": \"EXPLICAR\", \"nivel\": 2},\n    {\"verbo\": \"INFERIR\", \"nivel\": 2},\n    {\"verbo\": \"INTERPRETAR\", \"nivel\": 2},\n    {\"verbo\": \"ORGANIZAR\", \"nivel\": 2},\n    {\"verbo\": \"RELACIONAR\", \"nivel\": 2},\n    {\"verbo\": \"RESUMIR\", \"nivel\": 2},\n    {\"verbo\": \"APLICAR\", \"nivel\": 3},\n    {\"verbo\": \"CALCULAR\", \"nivel\": 3},\n    {\"verbo\": \"COMPUTAR\", \"nivel\": 3},\n    {\"verbo\": \"DEMOSTRAR\", \"nivel\": 3},\n    {\"verbo\": \"EJECUTAR\", \"nivel\": 3},\n    {\"verbo\": \"EMPLEAR\", \"nivel\": 3},\n    {\"verbo\": \"EXPERIMENTAR\", \"nivel\": 3},\n    {\"verbo\": \"HACER USO\", \"nivel\": 3},\n    {\"verbo\": \"IMPLEMENTAR\", \"nivel\": 3},\n    {\"verbo\": \"MANEJAR\", \"nivel\": 3},\n    {\"verbo\": \"MANIPULAR\", \"nivel\": 3},\n    {\"verbo\": \"MODELAR\", \"nivel\": 3},\n    {\"verbo\": \"OPERAR\", \"nivel\": 3},\n    {\"verbo\": \"REALIZAR\", \"nivel\": 3},\n    {\"verbo\": \"RESOLVER\", \"nivel\": 3},\n    {\"verbo\": \"SELECCIONAR\", \"nivel\": 3},\n    {\"verbo\": \"SIMULAR\", \"nivel\": 3},\n    {\"verbo\": \"SOLUCIONAR\", \"nivel\": 3},\n    {\"verbo\": \"USAR\", \"nivel\": 3},\n    {\"verbo\": \"UTILIZAR\", \"nivel\": 3},\n    {\"verbo\": \"ANALIZAR\", \"nivel\": 4},\n    {\"verbo\": \"ATRIBUIR\", \"nivel\": 4},\n    {\"verbo\": \"CONTRASTAR\", \"nivel\": 4},\n    {\"verbo\": \"DEDUCIR\", \"nivel\": 4},\n    {\"verbo\": \"DETERMINAR\", \"nivel\": 4},\n    {\"verbo\": \"DIFERENCIAR\", \"nivel\": 4},\n    {\"verbo\": \"DISCRIMINAR\", \"nivel\": 4},\n    {\"verbo\": \"ESTRUCTURAR\", \"nivel\": 4},\n    {\"verbo\": \"EXAMINAR\", \"nivel\": 4},\n    {\"verbo\": \"INDAGAR\", \"nivel\": 4},\n    {\"verbo\": \"INSPECCIONAR\", \"nivel\": 4},\n    {\"verbo\": \"INTEGRAR\", \"nivel\": 4},\n    {\"verbo\": \"ARGUMENTAR\", \"nivel\": 5},\n    {\"verbo\": \"CATEGORIZAR\", \"nivel\": 5},\n    {\"verbo\": \"CHEQUEAR\", \"nivel\": 5},\n    {\"verbo\": \"COMPROBAR\", \"nivel\": 5},\n    {\"verbo\": \"CONCLUIR\", \"nivel\": 5},\n    {\"verbo\": \"CRITICAR\", \"nivel\": 5},\n    {\"verbo\": \"DECIDIR\", \"nivel\": 5},\n    {\"verbo\": \"DEFENDER\", \"nivel\": 5},\n    {\"verbo\": \"DETECTAR\", \"nivel\": 5},\n    {\"verbo\": \"DIAGNOSTICAR\", \"nivel\": 5},\n    {\"verbo\": \"ESCOGER\", \"nivel\": 5},\n    {\"verbo\": \"EVALUAR\", \"nivel\": 5},\n    {\"verbo\": \"FUNDAMENTAR\", \"nivel\": 5},\n    {\"verbo\": \"INVESTIGAR\", \"nivel\": 5},\n    {\"verbo\": \"JERARQUIZAR\", \"nivel\": 5},\n    {\"verbo\": \"JUZGAR\", \"nivel\": 5},\n    {\"verbo\": \"JUSTIFICAR\", \"nivel\": 5},\n    {\"verbo\": \"MEDIR\", \"nivel\": 5},\n    {\"verbo\": \"MONITOREAR\", \"nivel\": 5},\n    {\"verbo\": \"PRIORIZAR\", \"nivel\": 5},\n    {\"verbo\": \"PROBAR\", \"nivel\": 5},\n    {\"verbo\": \"SINTETIZAR\", \"nivel\": 5},\n    {\"verbo\": \"VALORAR\", \"nivel\": 5},\n    {\"verbo\": \"CONCEBIR\", \"nivel\": 6},\n    {\"verbo\": \"CONFECCIONAR\", \"nivel\": 6},\n    {\"verbo\": \"CONSTRUIR\", \"nivel\": 6},\n    {\"verbo\": \"CREAR\", \"nivel\": 6},\n    {\"verbo\": \"DESARROLLAR\", \"nivel\": 6},\n    {\"verbo\": \"DESCUBRIR\", \"nivel\": 6},\n    {\"verbo\": \"DISEÑAR\", \"nivel\": 6},\n    {\"verbo\": \"ELABORAR\", \"nivel\": 6},\n    {\"verbo\": \"FORMAR\", \"nivel\": 6},\n    {\"verbo\": \"FORMULAR\", \"nivel\": 6},\n    {\"verbo\": \"GENERAR\", \"nivel\": 6},\n    {\"verbo\": \"IDEAR\", \"nivel\": 6},\n    {\"verbo\": \"INVENTAR\", \"nivel\": 6},\n    {\"verbo\": \"PLANIFICAR\", \"nivel\": 6},\n    {\"verbo\": \"PRODUCIR\", \"nivel\": 6},\n    {\"verbo\": \"PROGRAMAR\", \"nivel\": 6},\n    {\"verbo\": \"PROPONER\", \"nivel\": 6},\n    {\"verbo\": \"PROYECTAR\", \"nivel\": 6},\n    {\"verbo\": \"TRANSFORMAR\", \"nivel\": 6}\n  ]\n}",
              "type": "object"
            },
            {
              "id": "db316c94-aa90-4013-8483-5073da4a7fde",
              "name": "nivel_ra",
              "value": "6",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        1824
      ],
      "id": "cc8daabd-c2c6-48a2-905a-a60cff02a32f",
      "name": "Verbos Crear"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Constructor de Prompt (Agente 1)').first().json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1776,
        1408
      ],
      "id": "3332adbf-83dd-424b-b82f-9dc9f0b2aec5",
      "name": "Agente 1 - Contextualizador de Misión"
    },
    {
      "parameters": {
        "jsCode": "// --- Inicio: Código CORREGIDO para \"Constructor de Prompt (Agente 2 - Potente)\" ---\n\n// 1. OBTENER DATOS (Leyendo de Nodos Anteriores)\nconst estructuraMEI = $('Webhook').first().json.body.estructuraMEI;\nconst objetivo_actual = $('Procesar Uno por Uno').first().json.objetivo_actual;\nconst contexto_superior = $('Procesar Uno por Uno').first().json.contexto_superior;\n\n// *** CRÍTICO: El nivel_ra ahora es el NIVEL del objetivo principal (RA o AE) ***\nconst nivel_ra = $('Verbos y Nivel').first().json.nivel_ra;\n\nconst verbos_string = $('Verbos y Nivel').first().json.verbos;\nconst verbos_objeto = JSON.parse(verbos_string);\nconst lista_verbos_permitidos = verbos_objeto.lista_verbos_permitidos;\n\n// Datos del Agente 1 (Storytelling)\nconst itemData = $input.first().json; // Output de \"Validar Salida Agente 1\"\nconst { rol_profesional_simulado, escenario_desafio_narrativo } = itemData;\n\n// 2. PREPARAR PROMPT BASE (SYSTEM PROMPT)\nconst promptBase = `Actúa como especialista en currículo, evaluación y metodologías activas en educación superior, con formación avanzada en diseño instruccional y enfoque por competencias. Eres experto metodológico y didáctico en el curso [${rol_profesional_simulado}].\n\nTu tarea es redactar [número] indicadores de desempeño (IDs) alineados con el Resultado de Aprendizaje.\n\n### RESTRICCIÓN DE ORO (MANDATO ABSOLUTO):\n**CERO TOLERANCIA A LA FINALIDAD**. El indicador es la \"evidencia\", no el \"propósito\".\nEstá **TERMINANTEMENTE PROHIBIDO** usar las palabras \"para\", \"con el fin de\", \"con el propósito de\" o cualquier sinónimo.\n\n### TU RAZONAMIENTO (CÓMO PENSAR):\nEl aprendizaje es un \"Árbol de Dependencias\". Tu tarea es **inducir el árbol de dependencias lógicas** (los \"peldaños\") para construir el objetivo principal.\n- Tu meta es la **coherencia pedagógica**, no la simetría taxonómica.\n\nTu sintaxis sigue la \"Regla del Blueprint\" (El Gerundio):\n- La \"Spec\" de desempeño se hace observable usando un **sub-proceso (gerundio)**.\n- *Ejemplo:* \"COMPARAN las teorías (proceso), **diferenciando** (gerundio) sus componentes...\"\n`;\n\n// 3. PREPARAR TAREA (USER PROMPT)\nlet tareaTexto = \"\";\nlet contextoPrincipal = \"\";\nlet finalInstructions = \"\";\n\nif (estructuraMEI === 'MEI-Antiguo') {\n  // --- LÓGICA MEI-ANTIGUO (Aplicamos la lógica de \"Relevancia Cognitiva\") ---\n  const ras = contexto_superior.resultadosAprendizaje.map(ra => `- ${ra.texto}`).join('\\n');\n  contextoPrincipal = `### OBJETIVOS DE NIVEL SUPERIOR (RA):\\n${ras}`;\n  tareaTexto = `### OBJETIVO PRINCIPAL A CONSTRUIR (AE):\n\"${objetivo_actual.texto}\"\n`;\n  finalInstructions = `\n### INSTRUCCIONES DE GENERACIÓN (MEI ANTIGUO - INDICADORES DE LOGRO):\n1.  **Inducir Árbol:** Induce el \"Árbol de Dependencias\" (3 peldaños) para el AE. **Guía Afirmativa:** Para un AE de Nivel ${nivel_ra}, tus componentes deben ser **cognitivamente relevantes**.\n2.  **Regla de Anclaje:** El *último* indicador debe ser el que cumple el AE.\n3.  **Sintaxis (Conjugación):** Conjuga el verbo en **TERCERA PERSONA PRESENTE INDICATIVO PLURAL** (ej. \"Comparan\").\n4.  **Nivel (Fidelidad):** El \"nivel_verbo\" DEBE ser el número exacto **copiado** de la \"LISTA DE MATERIALES\".\n5.  **Formato de Salida:** Responde ÚNICAMENTE con un array JSON de objetos. Cada objeto debe tener TRES claves:\n    - \"habilidad\": el verbo conjugado correctamente (Ej: \"DIFERENCIAN\").\n    - \"contenido\": el proceso principal.\n    - \"condicion_contexto\": la condición o sub-proceso (gerundio).\n`;\n\n} else if (estructuraMEI === 'MEI-Actualizado') {\n  // --- LÓGICA MEI-ACTUALIZADO (SIN CAMBIOS) ---\n  const rfs = contexto_superior.resultadosFormativos.map(rf => `- ${rf.texto}`).join('\\n');\n  contextoPrincipal = `### OBJETIVO DE NIVEL SUPERIOR (RF):\\n${rfs}`;\n  tareaTexto = `### STORYTELLING (CONTEXTO DEL EDIFICIO):\n- **Rol:** ${rol_profesional_simulado}\n- **Escenario:** ${escenario_desafio_narrativo}\n### PLANO MAESTRO A CONSTRUIR (RA):\n\"${objetivo_actual.texto}\"\n`;\n  finalInstructions = `\n### INSTRUCCIONES DE GENERACIÓN (MEI ACTUALIZADO):\n1.  **Inducir Árbol:** Induce el \"Árbol de Dependencias\" (2-3 peldaños) para el RA. **Guía Afirmativa:** Para un RA de alto nivel (como este, Nivel ${nivel_ra}), tus componentes deben ser **cognitivamente relevantes**.\n2.  **Regla de Anclaje:** El *último* indicador debe ser uno que iguale el nivel el RA (en este caso, nivel ${nivel_ra}).\n3. Sintaxis (Conjugación): Asegúrate de que \"id_texto\" comience con un verbo conjugado en TERCERA PERSONA PRESENTE PLURAL INDICATIVO (ej. \"ANALIZAN\", \"EXPLICAN\", \"INTEGRAN\").\n4.  **Nivel (Fidelidad):** El \"nivel_verbo\" DEBE ser el número exacto **copiado** de la \"LISTA DE MATERIALES\".\n5.  **Formato de Salida:** Responde ÚNICAMENTE con un array JSON de objetos. Cada objeto debe tener TRES claves:\n    - \"id_texto\": la frase completa (la \"Spec\") ensamblada.\n    - \"verbo_utilizado\": el verbo conjugado en TERCERA PERSONA PRESENTE PLURAL INDICATIVO.\n    - \"nivel_verbo\": el número de nivel (ej. 4) copiado de la lista.\n    - \"justificacion_pedagogica\". En ella, explica en 1 a 2 oraciones cómo este indicador se relaciona con el RA y qué tipo de proceso y/o producto mide.\n`;\n}\n\n// 4. ENSAMBLAR Y DEVOLVER\nconst promptFinal = `\n${promptBase}\n${contextoPrincipal}\n${tareaTexto}\n\n### LISTA DE MATERIALES (VERBOS PERMITIDOS CON NIVEL):\n${JSON.stringify(lista_verbos_permitidos, null, 2)}\n\n${finalInstructions}\n\n### TU TAREA:\nGenera el array JSON de indicadores (ILs o IDs) según la estructura MEI, aplicando tu razonamiento.\n`;\n\nreturn [{ \n  json: { \n    prompt: promptFinal, \n    ...itemData // Pasa todos los datos que ya teníamos\n  } \n}];\n\n// --- Fin: Código CORREGIDO para \"Constructor de Prompt (Agente 2)\" ---"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        1408
      ],
      "id": "91f9da41-c700-495d-b3b9-bf1262bdfcf6",
      "name": "Constructor de Prompt (Agente 2)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $input.first().json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2576,
        1408
      ],
      "id": "c51f017d-7c17-4adf-99ae-2548ef9aaa0c",
      "name": "Agente 2 - Arquitecto de Secuencia"
    },
    {
      "parameters": {
        "jsCode": "// --- Inicio: Código CORREGIDO para \"Constructor de Prompt (Agente 3 - Supervisor)\" ---\n\n// 1. OBTENER DATOS\n// El input SÓLO tiene el borrador del agente anterior\nconst inputData = $input.first().json;\nconst { borrador_indicadores } = inputData;\n\n// El contexto (estructura, objetivo) se lee del NODO DE BUCLE 'Procesar Uno por Uno'\nconst loopData = $('Procesar Uno por Uno').first().json;\nconst { \n  estructuraMEI, \n  objetivo_actual, \n  contexto_superior \n} = loopData;\n\n// VERIFICACIÓN DE SEGURIDAD\nif (!estructuraMEI) {\n  throw new Error(\"Error Crítico: 'estructuraMEI' no se pudo leer desde el nodo 'Procesar Uno por Uno'.\");\n}\nif (!borrador_indicadores) {\n  throw new Error(\"Error Crítico: 'borrador_indicadores' no fue recibido del nodo anterior.\");\n}\n\n\n// 2. PREPARAR PROMPT BASE (SYSTEM PROMPT)\nconst promptBase = `Eres un \"Supervisor de Calidad\" de UNAB. Tu trabajo es tomar un **borrador** de indicadores y aplicar la **REGLA DE ORO** final.\n\n### RESTRICCIÓN DE ORO (MANDATO ABSOLUTO):\n**CERO TOLERANCIA A LA FINALIDAD**. El indicador es la \"evidencia\", no el \"propósito\".\nEstá **TERMINANTEMENTE PROHIBIDO** usar las palabras \"para\", \"con el fin de\", \"con el propósito de\" o cualquier sinónimo.\n\n### RESTRICCIÓN DE ESTRUCTURA (MANDATO CRÍTICO):\nDEBES mantener la estricta separación de los tres componentes (Habilidad, Contenido, Condición/Contexto) en claves separadas. NO FUSIONES el contenido y la condición/contexto. Mantén el \"TERCERA PERSONA PRESENTE INDICATIVO PLURAL\" del verbo inicial de cada indicador.\n`;\n\n// 3. PREPARAR TAREA (USER PROMPT)\nlet finalInstructions = \"\";\n\nif (estructuraMEI === 'MEI-Antiguo') {\n  // --- LÓGICA MEI-ANTIGUO ---\n  finalInstructions = `\n### INSTRUCCIONES DE CORRECCIÓN (MEI ANTIGUO):\nRevisa cada objeto en el \"BORRADOR DE INDICADORES\".\n1.  **Validar Finalidad:** Si encuentras CUALQUIER palabra de finalidad (como \"para\") en \"habilidad\", \"contenido\" o \"condicion_contexto\", **reescribe** esa clave para eliminarla.\n2.  **Validar Sintaxis (Crucial):** Asegúrate de que \"habilidad\" sea un verbo en **TERCERA PERSONA PRESENTE INDICATIVO PLURAL** (Ej: \"INTEGRAN\").\n3.  **Preservar Datos (MANDATORIO):** Mantén intactas las claves **verbo_utilizado**, **nivel_verbo** y **justificacion_pedagogica** del borrador original.\n4.  **Formato de Salida:** Devuelve ÚNICAMENTE el array JSON corregido.\n\n### EJEMPLO DE OBJETO JSON DE SALIDA (MEI ANTIGUO):\n[\n  {\n    \"habilidad\": \"DIFERENCIAN las teorías...\",\n    \"contenido\": \"El contenido sin finalidad...\",\n    \"condicion_contexto\": \"El contexto sin finalidad...\",\n    \"verbo_utilizado\": \"DIFERENCIAR\",\n    \"nivel_verbo\": 4,\n    \"justificacion_pedagogica\": \"Texto de justificación preservado\"\n  }\n]\n`;\n} else if (estructuraMEI === 'MEI-Actualizado') {\n  // --- LÓGICA MEI-ACTUALIZADO ---\n  // (Este es el código exacto que tú proporcionaste, ahora funcionará)\n  finalInstructions = `\n### INSTRUCCIONES DE CORRECCIÓN:\nRevisa cada objeto en el \"BORRADOR DE INDICADORES\".\n\n1.  **Validar Finalidad (REGLA DE ORO):** Revisa el \"id_texto\". Si encuentras CUALQUIER palabra de finalidad (como \"para\"), **reescribe** esa frase para eliminarla.\n2.  **Validar Sintaxis:** Asegúrate de que \"id_texto\" comience con el verbo en **TERCERA PERSONA PRESENTE INDICATIVO PLURAL**.\n\n3.  **Preservar Datos (MANDATORIO):** Debes mantener intactas las siguientes claves del borrador original en tu JSON de salida:\n    * **id_texto** (El texto original o corregido)\n    * **verbo_utilizado**\n    * **nivel_verbo**\n    * **justificacion_pedagogica**\n\n4.  **Separar Componentes (MANDATORIO):** Crea las claves **Habilidad**, **Contenido** y **Condición/Contexto** descomponiendo el \"id_texto\" (ya sea el original o el que corregiste).\n5.  **Formato de Salida:** Devuelve ÚNICAMENTE el array JSON corregido.\n\n### EJEMPLO DE OBJETO JSON DE SALIDA:\n[\n  {\n    \"id_texto\": \"CLASIFICAN las principales teorías del comercio...\",\n    \"verbo_utilizado\": \"CLASIFICAR\",\n    \"nivel_verbo\": 2,\n    \"justificacion_pedagogica\": \"Este indicador mide el peldaño...\",\n    \"Habilidad\": \"CLASIFICAN\",\n    \"Contenido\": \"Las principales teorías del comercio internacional (clásicas, neoclásicas y modernas).\",\n    \"Condición/Contexto\": \"Incluyendo la explicación de sus postulados centrales...\"\n  }\n]\n`;\n}\n\n// 4. ENSAMBLAR Y DEVOLVER\nconst promptFinal = `\n${promptBase}\n\n### BORRADOR DE INDICADORES (A CORREGIR):\n${JSON.stringify(borrador_indicadores, null, 2)}\n\n${finalInstructions}\n\n### TU TAREA:\nEjecuta la corrección. Devuelve solo el array JSON final.\n`;\n\n// 5. DEVOLVER PROMPT Y PRESERVAR DATOS\n// Devolvemos solo el prompt. El siguiente nodo (Validador)\n// también leerá el contexto desde 'Procesar Uno por Uno'.\nreturn [{ \n  json: { \n    prompt: promptFinal\n    // Ya no es necesario pasar el contexto aquí\n  } \n}];\n\n// --- Fin: Código CORREGIDO para \"Constructor de Prompt (Agente 3 - Supervisor)\" ---"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        1408
      ],
      "id": "3f507d9c-b2d2-445e-ba15-44f0218c26eb",
      "name": "Constructor de Prompt (Agente 3)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Constructor de Prompt (Agente 3)').first().json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3376,
        1408
      ],
      "id": "015ac096-7490-4ed7-a96e-432d1cd5ba42",
      "name": "Agente 3 - Ingeniero de Indicadores"
    },
    {
      "parameters": {
        "jsCode": "// --- Inicio: Código para \"Validar Salida Agente 1\" (ID b9f3...) ---\n\n// 1. OBTENER DATOS DE ENTRADA\n// 'inputData' tiene TODO: prompt, objetivo_actual, contexto_superior, Verbos, nivel_ra,\n// Y el 'output' de la IA.\nconst inputData = $input.first().json;\n\n// Leemos la respuesta de la IA desde el campo 'output' (como en tu debug)\nconst rawResponse = inputData.output;\n\n// 2. FUNCIÓN DE EXTRACCIÓN (Simple)\n// Busca el primer '{' y el último '}'\nfunction extractJson(text) {\n  const jsonStart = text.indexOf('{');\n  const jsonEnd = text.lastIndexOf('}');\n  const jsonString = text.substring(jsonStart, jsonEnd + 1);\n  return JSON.parse(jsonString);\n}\n\n// 3. PARSEAR LA RESPUESTA\nconst parsedOutput = extractJson(rawResponse);\n\n// 4. PREPARAR EL ITEM DE SALIDA (LA CLAVE)\n// Empezamos creando una copia de TODOS los datos que entraron.\n// Esto preserva: objetivo_actual, contexto_superior, estructuraMEI, Verbos, nivel_ra, etc.\nconst outputItem = { ...inputData };\n\n// 5. Borramos los campos que ya no necesitamos\ndelete outputItem.prompt;\ndelete outputItem.output; // Borramos la respuesta 'output' cruda\n\n// 6. Agregamos los nuevos campos parseados al objeto\noutputItem.rol_profesional_simulado = parsedOutput.rol_profesional_simulado;\noutputItem.escenario_desafio_narrativo = parsedOutput.escenario_desafio_narrativo;\n\n// 7. DEVOLVER EL OBJETO COMPLETO Y FUSIONADO\n// El siguiente nodo (Constructor 2) ahora SÍ recibirá todo.\nreturn [outputItem];\n\n// --- Fin: Código para \"Validar Salida Agente 1\" (ID b9f3...) ---"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        1408
      ],
      "id": "4eb8d761-f0a5-4cee-874c-ea45364b8808",
      "name": "Validar Salida Agente 1"
    },
    {
      "parameters": {
        "jsCode": "// --- Inicio: Código CORREGIDO para \"Validar Salida Agente 2\" ---\nconst itemData = $input.first().json;\nconst rawResponse = itemData.output;\n\n// 1. FUNCIÓN DE EXTRACCIÓN ROBUSTA (Busca el bloque de código)\nfunction extractJsonArray(text) {\n  // 1. Buscamos el bloque de código JSON (ignora texto inicial y final)\n  const codeBlockMatch = text.match(/```json\\s*(\\[[\\s\\S]*?\\])\\s*```/);\n  let jsonString;\n\n  if (codeBlockMatch && codeBlockMatch[1]) {\n    jsonString = codeBlockMatch[1];\n  } else {\n    // 2. Si no hay bloque de código, busca el array directo (método antiguo)\n    const arrayStart = text.indexOf('[');\n    const arrayEnd = text.lastIndexOf(']');\n    if (arrayStart === -1 || arrayEnd === -1) {\n        throw new Error(\"No se pudo encontrar un array JSON válido en la respuesta del Agente 2.\");\n    }\n    jsonString = text.substring(arrayStart, arrayEnd + 1);\n  }\n  \n  return JSON.parse(jsonString);\n}\n\n// 2. PARSEAR EL BORRADOR (El array de ILs/IDs)\nconst borrador_indicadores = extractJsonArray(rawResponse);\n\n// 3. PREPARAR EL ITEM DE SALIDA (FUSIÓN)\nconst outputItem = { ...itemData };\n\ndelete outputItem.prompt;\ndelete outputItem.output; \n\n// 4. AÑADIR EL BORRADOR\noutputItem.borrador_indicadores = borrador_indicadores;\n\nreturn [outputItem];\n// --- Fin: Código CORREGIDO para \"Validar Salida Agente 2\" ---"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        1408
      ],
      "id": "1938b2d4-e562-4f07-9f75-a978abea6493",
      "name": "Validar Salida Agente 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84bcaeef-89ab-490b-b289-af51b89990da",
              "name": "verbos",
              "value": "={{ $json.Verbos }}",
              "type": "string"
            },
            {
              "id": "f36c0e85-509e-431f-8b5e-88697e4171dd",
              "name": "nivel_ra",
              "value": "={{ $json.nivel_ra }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        1408
      ],
      "id": "9bdf3455-484b-468b-997c-ddf2ac911e8e",
      "name": "Verbos y Nivel"
    },
    {
      "parameters": {
        "jsCode": "// --- Inicio del Código para el Nodo \"Constructor de Prompt (Agente 1)\" ---\n\n// 1. OBTENER DATOS\n// Todos los datos necesarios (globales y del bucle) están en el ítem JSON de entrada ($json).\nconst itemData=$('Procesar Uno por Uno').first().json;\n\n// Datos globales (del nodo 'Set Data (Global)')\nconst resultadosFormativos = itemData.contexto_superior.resultadosFormativos;\nconst nombre_curso = $('Webhook').first().json.body.nombre_curso;\nconst trimestre = $('Webhook').first().json.body.trimestre;\n\n// Dato del bucle (del nodo 'Procesar Uno por Uno (RA)')\nconst objetivo_actual = itemData.objetivo_actual; // Este es el RA (o AE)\n\n// 2. PREPARAR PROMPT BASE (SYSTEM PROMPT)\n// Esta es la directiva para el Agente 1: \"Constructor de Mundos\"\nconst promptBase = `Eres un \"Constructor de Mundos\" (World-Builder) experto en diseño instruccional y storytelling. Tu única tarea es establecer un contexto narrativo para una misión de aprendizaje.\n\n### REGLAS DE MISIÓN:\n1.  **Rol Profesional:** Asigna un rol profesional simulado (ej. \"Ingeniero de Software Junior\", \"Consultor Pedagógico\") que sea coherente con el curso y el trimestre.\n2.  **Escenario Desafío:** Crea un escenario narrativo breve (la \"misión\") que el estudiante (en su rol) debe resolver. Esta misión debe estar basada en el Resultado de Aprendizaje (RA) y alineada con el Resultado Formativo (RF).\n3.  **Modular por Trimestre:** Si el trimestre es bajo (1-3), el rol y la misión deben ser de \"asistente\" o \"en formación\". Si es alto (8-10), debe ser de \"líder\" o \"consultor\".\n4.  **PROHIBICIÓN DE FINALIDAD:** El escenario *jamás* debe incluir la finalidad (ej. \"para lograr X\", \"con el fin de Y\"). La finalidad está implícita en la misión.\n\n### FORMATO DE SALIDA OBLIGATORIO:\nTu respuesta DEBE SER ÚNICAMENTE un objeto JSON con dos claves: \"rol_profesional_simulado\" y \"escenario_desafio_narrativo\".\n\nEjemplo de salida:\n{\n  \"rol_profesional_simulado\": \"Diseñador/a Pedagógico/a en Formación\",\n  \"escenario_desafio_narrativo\": \"Te has integrado al Centro de Innovación Pedagógica. Tu supervisor te encarga la tarea crítica de construir un informe que conecte las teorías del aprendizaje fundamentales con los principios del diseño inclusivo.\"\n}\n`;\n\n// 3. PREPARAR TAREA (USER PROMPT CON DATOS)\n// Inyectamos los datos necesarios para que el Agente 1 construya el contexto\nconst rfTexto = (resultadosFormativos && resultadosFormativos.length > 0) ? resultadosFormativos[0].texto : \"No disponible\";\nconst raTexto = objetivo_actual.texto;\nconst cursoTexto = nombre_curso || \"Nombre de curso no disponible\";\nconst trimestreNum = trimestre || 4; // Usamos un default (trimestre 4) si no está disponible\n\nconst tareaTexto = `### DATOS DE ENTRADA:\n\n- **Resultado Formativo (Visión General):**\n  \"${rfTexto}\"\n  \n- **Resultado de Aprendizaje (Misión Específica):**\n  \"${raTexto}\"\n  \n- **Nombre del Curso (Contexto/Bioma):**\n  \"${cursoTexto}\"\n  \n- **Trimestre (Nivel de Seniority):**\n  ${trimestreNum}\n\n### TU TAREA:\nGenera el objeto JSON de salida basado en estos datos.\n`;\n\n// 4. ENSAMBLAR Y DEVOLVER\nconst promptFinal = `${promptBase}\\n\\n${tareaTexto}`;\n\n// Devolvemos el prompt Y pasamos toda la data (itemData)\n// para que los siguientes nodos puedan usarla.\nreturn [{ \n  json: { \n    prompt: promptFinal, \n    ...itemData // Pasa todos los datos: objetivo_actual, resultadosFormativos, etc.\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1408
      ],
      "id": "8d2be496-6975-4c15-a4ac-ed1bd8351a95",
      "name": "Constructor de Prompt (Agente 1)"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        1632
      ],
      "id": "5367768d-96e8-4c35-8d2c-350a9f17f62e",
      "name": "Gemini Flash Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "0iqywUDpc1FpZaGU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2656,
        1632
      ],
      "id": "7bf895da-47e3-4d78-9c4a-2e2d2064f337",
      "name": "Gemini Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "0iqywUDpc1FpZaGU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n:5678",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "1600",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "estructuraMEI": "MEI-Actualizado",
            "nombre_curso": "COMERCIO INTERNACIONAL",
            "resultadosFormativos": [
              {
                "id": "RF-1",
                "texto": "Evaluar el entorno y las tendencias del mercado global, identificando riesgos, oportunidades y amenazas, para la toma de decisiones estratégicas, considerando el comportamiento e influencia de los actores clave que participan en él y el marco del sistema internacional que los regula."
              },
              {
                "id": "RF-2",
                "texto": "Formular estrategias de negocios internacionales, integrando herramientas analíticas, fundamentos y normativas del comercio exterior, para enfrentar desafíos propios de la profesión en entornos globales dinámicos."
              }
            ],
            "resultadosAprendizaje": [
              {
                "id": "RA-1",
                "tributaA": [
                  "RF-1",
                  "RF-2"
                ],
                "texto": "Analizar las bases teóricas y normativas que sustentan el comercio internacional y la inserción de Chile en los mercados globales, considerando las principales teorías del intercambio comercial y el funcionamiento del sistema multilateral de comercio.",
                "contenido": "UNIDAD I: FUNDAMENTOS DEL COMERCIO INTERNACIONAL Y SISTEMA MULTILATERAL\\\\n- Conceptos y evolución del comercio internacional. - Principales teorías del comercio exterior (Ventajas comparativas, Heckscher-Ohlin, modelos modernos). - Estructura y funcionamiento del sistema multilateral (OMC, acuerdos de libre comercio). - Rol de Chile en el comercio internacional y su apertura económica.",
                "metodologia": "Estudios de Casos,Aprendizaje Basado en Problemas,Aprendizaje Colaborativo,Orientaciones para el estudio autónomo"
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook/generar-indicadores",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Desglosar Objetivos en Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Extraer Indicadores": {
      "main": [
        [
          {
            "node": "Procesar Uno por Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desglosar Objetivos en Items": {
      "main": [
        [
          {
            "node": "Procesar Uno por Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Uno por Uno": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clasificar Nivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Formatear Salida Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Salida Final": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa (200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificar Nivel",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Nivel": {
      "main": [
        [
          {
            "node": "Verbos Reconocer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verbos Entender",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verbos Aplicar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verbos Analizar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verbos Evaluar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verbos Crear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verbos Reconocer": {
      "main": [
        [
          {
            "node": "Verbos y Nivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verbos Entender": {
      "main": [
        [
          {
            "node": "Verbos y Nivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verbos Aplicar": {
      "main": [
        [
          {
            "node": "Verbos y Nivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verbos Analizar": {
      "main": [
        [
          {
            "node": "Verbos y Nivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verbos Evaluar": {
      "main": [
        [
          {
            "node": "Verbos y Nivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verbos Crear": {
      "main": [
        [
          {
            "node": "Verbos y Nivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente 1 - Contextualizador de Misión": {
      "main": [
        [
          {
            "node": "Validar Salida Agente 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constructor de Prompt (Agente 2)": {
      "main": [
        [
          {
            "node": "Agente 2 - Arquitecto de Secuencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente 2 - Arquitecto de Secuencia": {
      "main": [
        [
          {
            "node": "Validar Salida Agente 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constructor de Prompt (Agente 3)": {
      "main": [
        [
          {
            "node": "Agente 3 - Ingeniero de Indicadores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente 3 - Ingeniero de Indicadores": {
      "main": [
        [
          {
            "node": "Validar y Extraer Indicadores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Salida Agente 1": {
      "main": [
        [
          {
            "node": "Constructor de Prompt (Agente 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Salida Agente 2": {
      "main": [
        [
          {
            "node": "Constructor de Prompt (Agente 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verbos y Nivel": {
      "main": [
        [
          {
            "node": "Constructor de Prompt (Agente 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constructor de Prompt (Agente 1)": {
      "main": [
        [
          {
            "node": "Agente 1 - Contextualizador de Misión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Agente 1 - Contextualizador de Misión",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente 3 - Ingeniero de Indicadores",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Agente 2 - Arquitecto de Secuencia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5215a80d-c74a-44c1-86c7-802f7600953d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8991d57cc3be404c4c8d6951306c68fa6ee93d0a9fcfe54908cc27cc5546f205"
  },
  "id": "ChIBB6KiCNlHa36x",
  "tags": []
}