n8n_workflows/Interacción IA.json
{
  "name": "Interacción IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interaccion-ia",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        48
      ],
      "id": "616fdaa3-10cf-4830-9ee8-17df9a66c7a4",
      "name": "Webhook",
      "webhookId": "8cdc026a-7fac-4bdf-b014-fbd5680e3d6d"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "disenos_instruccionales",
        "filters": {
          "conditions": [
            {
              "keyName": "id_di",
              "keyValue": "={{ $json.body.di_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        64,
        48
      ],
      "id": "786200bb-081c-49ff-a54a-4956f3b2f6f9",
      "name": "Get DI Context",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1568,
        16
      ],
      "id": "dd81ba16-d7f8-4bb5-bf84-613e6ae9c5c9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        144
      ],
      "id": "53f1e5b0-8310-4cd6-8325-0baeb57c5386",
      "name": "Response Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1fRbxclakan4SB2c",
          "name": "Api 1"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres una IA entrenada para ser un asistente de Diseño instruccional, experto en la rúbrica QM y su aplicación en el diseño de cursos académicos. Tu tarea es responder a la interaccion del usuario sobre el siguiente Diseño Instruccional.\n\nDISEÑO INSTRUCCIONAL (en formato HTML):\n{{ $('Get DI Context').first().json.contenido_html }}\n\nINFORME ALINEAMIENTO (basado en Quality Matters, puede ser NULL o undefined si aun no ha sido generado, en cuyo caso debes solicitarle al usuario que haga click en el boton \"Generar informe de validacion\", ubicado sobre el chat de IA y negarte a responder sus preguntas sobre el informe si no existe):\n{{ JSON.stringify($('Get DI Context').first().json.analisis_alineamiento) }}\n\nINTERACCION DEL USUARIO:\n\"{{ $('Webhook').first().json.body.prompt }}\"\n\n**INSTRUCCIONES DE RESPUESTA:**\n\n- Te diriges a un docente o supervisor de calidad, asume que tienen un manejo del tema sobre el que te hablan. Respeta su tiempo, omite las presentaciones y despedidas. Se directo, eres una herramienta.\n\n- Responde de manera directa y enfocada en la pregunta. Si te proponen una modificación al DI, analiza la propuesta en el marco de la rúbrica QM y el informe proporciondado. Si te piden crear una modificación al DI, créala tomando en cuenta el contexto que expone el DI, las necesidades del usuario, y la adherencia a los mejores estándares QM. \n\n- Responde en español\n\n- Si la interaccion no puede ser respondida con la información del DI, el informe o la rubrica QM, indícalo claramente.\n\n- Estructura tu respuesta en texto simple, sin markdown.\n\n- El usuario no sabe ni necesita saber sobre lo referente a JSON-LD. Repóndele en lenguaje natural y adaptado al dominio de la pedagogía / supervisión de calidad QM. NO RESPONDAS CON CODIGO JSON!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        -80
      ],
      "id": "172d9458-5d76-4974-b477-7c9c58d4a39b",
      "name": "Agent Response"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "disenos_instruccionales",
        "filters": {
          "conditions": [
            {
              "keyName": "id_di",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').first().json.body.di_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proceso_actual",
              "fieldValue": "={{ { \"nombre\": \"consulta\", \"estado\": \"success\" } }}"
            },
            {
              "fieldId": "ultima_respuesta_ia",
              "fieldValue": "={{ { \"respuesta\": $('Agent Response').item.json.output } }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -176
      ],
      "id": "12f41da9-bce1-442c-aaba-6b671cce577a",
      "name": "Update Success",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96146fb2-9c5c-47a6-a0dc-edba632d3f7e",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        -80
      ],
      "id": "a7e52ac9-784f-4184-8113-13c6c76a77fc",
      "name": "Success?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "disenos_instruccionales",
        "filters": {
          "conditions": [
            {
              "keyName": "id_di",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').first().json.body.di_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proceso_actual",
              "fieldValue": "={{ { \"nombre\": \"consulta\", \"estado\": \"error al generar respuesta del agente\" } }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        16
      ],
      "id": "28c1135d-2bdc-4f48-a5ea-1d92ffc618f1",
      "name": "Update Error",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Webhook').item.json.body.prompt }}",
        "categories": {
          "categories": [
            {
              "category": "interaccion_academica",
              "description": "=Usa esta categoría para clasificar una consulta, solicitud o interaccion que esté relacionada con un archivo o curso académico (Diseño Instruccional, Matriz de Planificacion, plan de estudios, syllabus del curso, contenido del curso, RA, AE, IL, etc), o el informe de validación del mismo. El usuario está interactuando desde una plataforma de asistencia para docentes, que le entrega un informe de validación de un Diseño instruccional específico, con sugerencias concretas de mejora, debilidades, fortalezas, evaluación por eje Quality Matters (QM) y comentarios del proceso. "
            },
            {
              "category": "no_relacionado",
              "description": "Esta categoría es para cualquier interaccion que sea ininteligible, confusa, o definitivamente no relacionada a algo académico."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        288,
        48
      ],
      "id": "6a887b9f-cac6-491c-b772-ac0df7606f85",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "disenos_instruccionales",
        "filters": {
          "conditions": [
            {
              "keyName": "id_di",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').first().json.body.di_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "proceso_actual",
              "fieldValue": "={{ { \"nombre\": \"consulta\", \"estado\": \"error\", \"error_detalle\": \"La consulta no está relacionada con el contexto del DI.\", \"timestamp\": new Date().toISOString() } }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        240
      ],
      "id": "9dd0d95a-2303-4639-bfa9-ffbeb78dd0fe",
      "name": "Update Non Related",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        272
      ],
      "id": "eccad4e8-2bb7-424b-a899-e539f24b1fd2",
      "name": "Lite",
      "credentials": {
        "googlePalmApi": {
          "id": "1fRbxclakan4SB2c",
          "name": "Api 1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        272
      ],
      "id": "bc74bd3f-2e66-420f-a9a4-702b3ff11940",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n:5678",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "113",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "di_id": "71d4cfb0-6759-46e4-a086-f854ebf7c247",
            "prompt": "Necesito que me resumas el informe de alineamiento"
          },
          "webhookUrl": "http://localhost:5678/webhook/8cdc026a-7fac-4bdf-b014-fbd5680e3d6d",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get DI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DI Context": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Response Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent Response": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Update Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Success": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Agent Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Non Related",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Non Related": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "725214f0-65e5-4f81-b2cb-5280a67b0296",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8991d57cc3be404c4c8d6951306c68fa6ee93d0a9fcfe54908cc27cc5546f205"
  },
  "id": "SwcZQBq59C3kBS6a",
  "tags": []
}