N8N Workflows/Eliminar DI.json
{
  "name": "Eliminar DI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "delete-di/:di_id",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        48
      ],
      "id": "9a9dcb10-8dfa-44c0-a6fa-862e3c005de9",
      "name": "Webhook",
      "webhookId": "455ec6c7-6a0d-481b-af71-7516cbbb21a5"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "disenos_instruccionales",
        "filters": {
          "conditions": [
            {
              "keyName": "id_di",
              "keyValue": "={{ $json.params.di_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        48
      ],
      "id": "4399859e-c49f-48f0-84d6-3368c0a6babf",
      "name": "Get DI",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b8f6960-a78d-489f-ad76-a42f9b251d67",
              "leftValue": "={{ $('Get DI').first().json.id_usuario }}",
              "rightValue": "={{ $('Webhook').item.json.query.userId }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        64
      ],
      "id": "725328e6-b6f9-43e1-ade5-22f560210bcc",
      "name": "If"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://hzfcabvdrytxgaoqjeag.supabase.co/storage/v1/object/di-bucket/{{ $('Webhook').item.json.query.userId }}/{{ $('Get DI').first().json.nombre_archivo }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        48
      ],
      "id": "b5e2584c-a59c-4335-890b-1ca4bb94b15e",
      "name": "Delete from  Bucket",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        },
        "httpHeaderAuth": {
          "id": "9Mj2fKfgn7ZbteoT",
          "name": "Supabase Service Role"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "disenos_instruccionales",
        "filters": {
          "conditions": [
            {
              "keyName": "id_di",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.params.di_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        -64
      ],
      "id": "6bbd91ca-1dfa-4641-9ac6-0bf3d674597f",
      "name": "Delete row",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"success\", \"message\": \"Archivo eliminado correctamente.\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        592,
        -64
      ],
      "id": "074315be-c6c3-4676-9ccb-81a3a2104c3e",
      "name": "Response Delete"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "73e3bc33-5b6c-48ac-9439-682542e7ffae",
      "name": "Response Not Exists"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        96
      ],
      "id": "768c6e04-01f5-4cdd-b7b4-15495e5b69b7",
      "name": "Response Error Delete"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get DI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DI": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete from  Bucket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Not Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from  Bucket": {
      "main": [
        [
          {
            "node": "Delete row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Error Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row": {
      "main": [
        [
          {
            "node": "Response Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "035b7f55-2fe6-49ff-a045-b2ec1c69b10f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81f9aa344da0912f901e07498089d3dd54ba6d767dbe4d581a261cb5d8886bb9"
  },
  "id": "ipQD8tAJCdbnNUqh",
  "tags": []
}