N8N Workflows/Generar Indicadores.json
{
  "name": "Generar Indicadores",
  "nodes": [
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "glosario_chunks",
          "mode": "list",
          "cachedResultName": "glosario_chunks"
        },
        "prompt": "={{ `${$json.objetivo_actual.texto || ''} ${$json.objetivo_actual.contenido || ''} ${$json.objetivo_actual.metodologia || ''}` }}",
        "topK": 100,
        "options": {
          "queryName": "match_glosario_chunks"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        752,
        1024
      ],
      "id": "c479768a-ccb9-4322-9b3f-9c177794df10",
      "name": "RAG de Dominio",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        1248
      ],
      "id": "f1a56211-8269-40e9-9835-8e39b151901f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "1fRbxclakan4SB2c",
          "name": "Api 1"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1632,
        1248
      ],
      "id": "5367768d-96e8-4c35-8d2c-350a9f17f62e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1fRbxclakan4SB2c",
          "name": "Api 1"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0b0f8ddd-f0bb-476b-ac21-9e81f74f2c6c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        80,
        1024
      ],
      "id": "a051ebfe-8956-4ec4-8fc8-f1ea3a75465f",
      "name": "Webhook",
      "webhookId": "0b0f8ddd-f0bb-476b-ac21-9e81f74f2c6c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Formatear Salida Final').first().json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        720
      ],
      "id": "e317bab9-00c6-4eb8-8bb3-3380649b39de",
      "name": "Respuesta Exitosa (200)"
    },
    {
      "parameters": {
        "jsCode": "// Leemos la salida del agente final en nuestra cadena: 'Agente 3 - Supervisor'.\nconst llmOutput = $('Agente 3 - Supervisor').first().json.output;\n\n// Los datos originales ahora vienen del constructor del Agente 3.\nconst entradaOriginal = $('Constructor de Prompt (Agente 3 - Supervisor)').first().json; \nconst { estructuraMEI } = entradaOriginal;\n\nlet parsedJson;\n\n// --- INICIO DE LA CORRECCIÓN CLAVE ---\n// Usamos una expresión regular para encontrar el primer bloque JSON válido en el texto.\n// Esto maneja el caso en que el LLM añade texto antes o después del JSON.\nconst jsonRegex = /\\[[\\s\\S]*\\]/; // Busca un array que empieza con [ y termina con ]\nconst jsonMatch = llmOutput.match(jsonRegex);\n\nif (jsonMatch && jsonMatch[0]) {\n  try {\n    // Intentamos parsear solo la parte que coincide con el JSON.\n    parsedJson = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    parsedJson = null; // Si el bloque extraído sigue siendo inválido, asignamos null.\n  }\n} else {\n  parsedJson = null; // Si no se encuentra ningún bloque JSON, asignamos null.\n}\n// --- FIN DE LA CORRECCIÓN CLAVE ---\n\n\nif (!parsedJson || !Array.isArray(parsedJson) || parsedJson.length === 0) {\n    return []; // Falla si no se pudo parsear, no es un array o está vacío.\n}\n\nlet requiredKeys = [];\nif (estructuraMEI === 'MEI-Actualizado') {\n  requiredKeys = ['indicador', 'justificacionPedagogica'];\n} else if (estructuraMEI === 'MEI-Antiguo') {\n  requiredKeys = ['habilidad', 'contenido', 'condicion_contexto', 'justificacionPedagogica'];\n}\n\nconst isStructureValid = parsedJson.every(item => \n    typeof item === 'object' && \n    item !== null && \n    requiredKeys.every(key => Object.prototype.hasOwnProperty.call(item, key))\n);\n\nif (isStructureValid) {\n  // ÉXITO: Devolvemos el resultado para el nodo de formateo final.\n  return [{ \n      json: {\n          objetivo_original: entradaOriginal.objetivo_original,\n          indicadoresGenerados: parsedJson,\n          error: null\n      }\n  }];\n}\n\n// Falla si la estructura de los objetos es incorrecta.\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        1024
      ],
      "id": "2615684f-adea-4a7a-ae64-a654ad1df034",
      "name": "Validar y Extraer Indicadores"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body;\nconst { estructuraMEI } = payload;\nconst items = [];\n\nlet objetivosADesglosar = [];\nlet contextoNivelSuperior = {};\n\nif (estructuraMEI === 'MEI-Antiguo') {\n  objetivosADesglosar = payload.aprendizajesEsperados;\n  contextoNivelSuperior = { resultadosAprendizaje: payload.resultadosAprendizaje };\n} else if (estructuraMEI === 'MEI-Actualizado') {\n  objetivosADesglosar = payload.resultadosAprendizaje;\n  contextoNivelSuperior = { resultadosFormativos: payload.resultadosFormativos };\n} else {\n  throw new Error(`Estructura MEI no soportada: ${estructuraMEI}`);\n}\n\nfor (const objetivo of objetivosADesglosar) {\n  items.push({\n    json: {\n      objetivo_actual: objetivo,\n      contexto_superior: contextoNivelSuperior,\n      estructuraMEI: estructuraMEI\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1024
      ],
      "id": "8af13527-364b-4a8a-a708-2ce020ccde37",
      "name": "Desglosar Objetivos en Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        1024
      ],
      "id": "f5d10970-61cb-4e10-957f-66a7ab8e6722",
      "name": "Procesar Uno por Uno"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        720
      ],
      "id": "8460b90d-af4e-4330-85cb-d6fbce45e98d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const aggregatedResults = $input.first().json.data;\nconst originalPayload = $('Webhook').first().json.body;\nconst { estructuraMEI } = originalPayload;\n\nlet finalOutput = { estructuraMEI };\n\nif (estructuraMEI === 'MEI-Antiguo') {\n  finalOutput.resultadosAprendizaje = originalPayload.resultadosAprendizaje;\n  finalOutput.analisisAprendizajesEsperados = [];\n} else if (estructuraMEI === 'MEI-Actualizado') {\n  finalOutput.resultadosFormativos = originalPayload.resultadosFormativos;\n  finalOutput.analisisResultadosAprendizaje = [];\n}\n\n// Iteramos sobre los resultados agregados, que contienen los datos de cada loop.\nfor (const result of aggregatedResults) {\n  // Manejo de errores: Si un loop falló, su 'error' no será null.\n  if (result.error) {\n      if (!finalOutput.errors) finalOutput.errors = [];\n      finalOutput.errors.push({\n          objetivoFallido: result.objetivo_original, // objetivo_original SÍ está disponible aquí\n          detalleError: result.error\n      });\n      continue; // Salta al siguiente resultado\n  }\n\n  // --- CORRECCIÓN CLAVE ---\n  // Construimos el objeto final fusionando el 'objetivo_original' (que contiene id, texto, etc.)\n  // con la nueva propiedad 'indicadoresGenerados'.\n  const resultadoConIndicadores = {\n    ...result.objetivo_original, \n    indicadoresGenerados: result.indicadoresGenerados \n  };\n  // -------------------------\n\n  if (estructuraMEI === 'MEI-Antiguo') {\n    finalOutput.analisisAprendizajesEsperados.push(resultadoConIndicadores);\n  } else if (estructuraMEI === 'MEI-Actualizado') {\n    finalOutput.analisisResultadosAprendizaje.push(resultadoConIndicadores);\n  }\n}\n\nreturn finalOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        720
      ],
      "id": "772a0a0b-d827-4142-b78e-4b020c9a0a5e",
      "name": "Formatear Salida Final"
    },
    {
      "parameters": {
        "jsCode": "// Este nodo SÓLO recibe la salida del RAG de Dominio.\nconst ragItems = $input.all();\n\nlet contexto = \"### REGLAS Y DEFINICIONES DEL GLOSARIO UNAB:\\n\";\n\nfor (const item of ragItems) {\n  // El input SÍ tiene la estructura item.json.document...\n  if (item.json.document && item.json.document.pageContent) {\n    contexto += `- ${item.json.document.pageContent}\\n`;\n  }\n}\n\n// Devuelve un único objeto con el texto consolidado.\n// El siguiente nodo (Constructor de Prompt) se encargará de fusionar esto\n// con los datos del loop.\nreturn [{\n    json: {\n        contexto_consolidado: contexto\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1024
      ],
      "id": "83c8dbe7-5ae8-4c89-8f0d-d8f643d3ab34",
      "name": "Consolidar Contexto"
    },
    {
      "parameters": {
        "jsCode": "const itemData = $('Procesar Uno por Uno').first().json;\nconst { objetivo_actual } = itemData;\n\nconst promptBase = `Eres un experto en evaluación de competencias profesionales del modelo UNAB. Tu tarea es deconstruir una habilidad compleja en 2 o 3 procesos clave o hitos de desempeño observables.`;\n\nconst tareaTexto = `Para el siguiente objetivo, que describe una competencia profesional, identifica los 2 o 3 **procesos clave** que un profesional debe ejecutar para demostrar maestría. Para cada proceso, especifica el verbo de acción observable más importante.\n\n### FILOSOFÍA DE DECONSTRUCCIÓN:\nPiensa en las grandes fases o entregables del trabajo de un experto. No en un andamiaje para novatos.\n- **ENFOQUE:** Deconstrucción del proceso experto (ej. Analizar el problema -> Diseñar la solución -> Justificar el diseño).\n\n### REGLA DE VERBOS OBSERVABLES:\nEstán prohibidos los verbos de procesos internos: **conocer, comprender, analizar, reflexionar, valorar**. Usa alternativas que describan la evidencia de esos procesos.\n\n### OBJETIVO A DESGLOSAR:\n\"${objetivo_actual.texto}\"\n\n### FORMATO DE SALIDA OBLIGATORIO:\nTu respuesta DEBE SER ÚNICAMENTE un array JSON de objetos, donde cada objeto tiene dos claves: \"paso\" (la descripción del proceso) y \"verbo_principal\" (el verbo observable).\nEjemplo de salida:\n[\n  { \"paso\": \"Comparar el desempeño y necesidades de los estudiantes utilizando registros de aula\", \"verbo_principal\": \"Comparar\" },\n  { \"paso\": \"Elaborar una propuesta de unidad didáctica ajustada a la diversidad del grupo\", \"verbo_principal\": \"Elaborar\" },\n  { \"paso\": \"Argumentar la selección de estrategias en la unidad, demostrando su impacto\", \"verbo_principal\": \"Argumentar\" }\n]\n`;\n\nconst promptFinal = `${promptBase}\\n\\n${tareaTexto}`;\n\nreturn [{ json: { prompt: promptFinal, ...itemData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1024
      ],
      "id": "8b0ee2d1-a120-4e2d-bc2a-1cfb970a040a",
      "name": "Constructor de Prompt (Agente 1 - Estratega)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Constructor de Prompt (Agente 1 - Estratega)').first().json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1552,
        1024
      ],
      "id": "3332adbf-83dd-424b-b82f-9dc9f0b2aec5",
      "name": "Agente 1 - Estratega"
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $input.first().json.output;\n// Heredamos los datos originales del nodo anterior (Constructor del Agente 1)\nconst originalData = $('Constructor de Prompt (Agente 1 - Estratega)').first().json;\n\ntry {\n  const cleanedOutput = llmOutput.replace(/```json|```/g, '').trim();\n  const parsedJson = JSON.parse(cleanedOutput);\n\n  // --- CORRECCIÓN CLAVE ---\n  // Validamos que sea un array de objetos, y que cada objeto tenga las claves \"paso\" y \"verbo_principal\".\n  if (\n    Array.isArray(parsedJson) &&\n    parsedJson.length > 0 &&\n    parsedJson.every(item =>\n      typeof item === 'object' &&\n      item !== null &&\n      Object.prototype.hasOwnProperty.call(item, 'paso') &&\n      Object.prototype.hasOwnProperty.call(item, 'verbo_principal')\n    )\n  ) {\n    \n    // ÉXITO: Devolvemos un objeto que contiene los datos originales\n    // y la nueva progresión pedagógica validada.\n    return [{ \n      json: {\n        progresionPedagogica: parsedJson,\n        ...originalData // Re-inyectamos los datos del item actual del loop\n      }\n    }];\n  }\n  // -------------------------\n\n} catch (error) {\n  // Si JSON.parse falla, el catch se activa y la función continúa hasta el final.\n}\n\n// Si cualquier validación falla, o si hubo un error de parseo,\n// retornamos un array vacío para detener esta iteración del loop.\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1024
      ],
      "id": "4eb8d761-f0a5-4cee-874c-ea45364b8808",
      "name": "Validar Salida del Estratega"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $input.first().json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2352,
        1024
      ],
      "id": "c51f017d-7c17-4adf-99ae-2548ef9aaa0c",
      "name": "Agente 2 - Redactor Bruto"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos la salida del Agente 2 (Redactor Bruto).\nconst draftOutput = $input.first().json.output;\n// Heredamos los datos originales del nodo anterior.\nconst originalData = $('Constructor de Prompt (Agente 2 - Redactor Bruto)').first().json;\nconst contextoGlosario = $('Consolidar Contexto').first().json.contexto_consolidado;\nconst { estructuraMEI, objetivo_actual } = originalData;\n\nlet promptBase = `Eres un experto en la filosofía pedagógica del modelo UNAB, entrenado por Andrea. Tu misión es transformar borradores de indicadores en evidencias de aprendizaje impecables y explicar su validez de forma magistral.`;\nlet tareaTexto = `Toma las siguientes ideas de indicadores y elévalas al estándar de calidad UNAB. Reescríbelas si es necesario para que sean perfectas. Luego, redacta una justificación experta para cada una.`;\nlet finalInstructions = \"\";\n\nif (estructuraMEI === 'MEI-Antiguo') {\n  finalInstructions = `\n### REGLAS FILOSÓFICAS Y DE FORMATO (MANDATO ABSOLUTO):\n1.  **PRINCIPIO DE EVIDENCIA PURA (Cero Finalidad):** Un indicador describe una **evidencia observable en presente**, NO un propósito futuro. La finalidad ya está en el AE. Por lo tanto, está **TERMINANTEMENTE PROHIBIDO** usar \"para\", \"con el fin de\", \"con el propósito de\" o cualquier sinónimo. Tu misión es transformar cualquier atisbo de finalidad en una **condición de ejecución** o un **criterio de calidad** observable.\n2.  **PRINCIPIO DE ACCIÓN ÚNICA:** El campo 'habilidad' debe contener **UN ÚNICO verbo** en tercera persona plural.\n3.  **MISIÓN DE JUSTIFICACIÓN GUÍA:** La 'justificacionPedagogica' debe ser una guía para el equipo de calidad. Debe explicar por qué el indicador es la **evidencia correcta para medir el AE**, conectando explícitamente la habilidad, el contenido y la condición del indicador con las demandas del objetivo superior.\n\n### FORMATO DE SALIDA (JSON Únicamente):\nArray de objetos con: \"habilidad\", \"contenido\", \"condicion_contexto\", \"justificacionPedagogica\".\n\n### EJEMPLO DE ORO (MODELO A SEGUIR):\n- **OBJETIVO (AE):** \"Diseñar unidades didácticas...\"\n- **SALIDA ESPERADA:**\n  {\n    \"habilidad\": \"Comparan\",\n    \"contenido\": \"enfoques teóricos y necesidades educativas\",\n    \"condicion_contexto\": \"a partir de registros de aula.\",\n    \"justificacionPedagogica\": \"Para 'Diseñar' (el AE), es crucial primero poder analizar el contexto. Este indicador mide esa habilidad previa a través de la 'Comparación', que es una acción de análisis observable. El contenido y la condición especifican qué se compara y con qué evidencia, haciendo la medición precisa y relevante para el diseño final.\"\n  }\n`;\n\n} else if (estructuraMEI === 'MEI-Actualizado') {\n  finalInstructions = `\n### REGLAS FILOSÓFICAS Y DE FORMATO (MANDATO ABSOLUTO):\n1.  **PRINCIPIO DE EVIDENCIA PURA (Cero Finalidad):** Un indicador describe una **evidencia observable**, NO un propósito futuro. La finalidad ya está en el RA. Por lo tanto, está **TERMINANTEMENTE PROHIBIDO** usar \"para\" o sinónimos. Tu misión es transformar cualquier finalidad en una **condición de ejecución** o un **criterio de calidad observable**.\n2.  **PRINCIPIO DE ACCIÓN ÚNICA:** El indicador debe comenzar con **UN ÚNICO verbo** observable en infinitivo.\n3.  **MISIÓN DE JUSTIFICACIÓN GUÍA:** La 'justificacionPedagogica' debe ser una guía para el equipo de calidad. Debe explicar por qué el indicador es la **evidencia correcta para medir el RA**, conectando la acción del indicador (Verbo + Producto/Proceso) con las demandas de la competencia descrita en el objetivo superior.\n\n### FORMATO DE SALIDA (JSON Únicamente):\nArray de objetos con: \"indicador\", \"justificacionPedagogica\".\n\n### EJEMPLO DE ORO (MODELO A SEGUIR):\n- **OBJETIVO (RA):** \"Diseñar unidades didácticas...\"\n- **SALIDA ESPERADA:**\n  {\n    \"indicador\": \"Comparar el desempeño de los estudiantes utilizando registros de aula.\",\n    \"justificacionPedagogica\": \"Para medir la competencia de 'Diseñar' (el RA), el profesional primero debe demostrar que puede analizar el contexto. Este indicador mide esa habilidad a través del proceso de 'Comparar desempeño', que es una evidencia observable y un prerrequisito indispensable para un diseño pertinente.\"\n  }\n`;\n}\n\nconst datosEntrada = `### OBJETIVO PRINCIPAL DE REFERENCIA:\\n\"${objetivo_actual.texto}\"\n### IDEAS DE INDICADORES A PERFECCIONAR Y JUSTIFICAR:\\n${draftOutput}`;\nconst promptFinal = `${promptBase}\\n### CONTEXTO PEDAGÓGICO (para consulta de reglas):\\n${contextoGlosario}\\n### TAREA:\\n${tareaTexto}\\n${datosEntrada}\\n${finalInstructions}`;\n\nreturn { json: { prompt: promptFinal, objetivo_original: objetivo_actual, estructuraMEI: estructuraMEI } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        1024
      ],
      "id": "3f507d9c-b2d2-445e-ba15-44f0218c26eb",
      "name": "Constructor de Prompt (Agente 3 - Supervisor)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Constructor de Prompt (Agente 3 - Supervisor)').first().json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2912,
        1024
      ],
      "id": "015ac096-7490-4ed7-a96e-432d1cd5ba42",
      "name": "Agente 3 - Supervisor"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos los datos del nodo validador del Agente 1.\nconst validatedData = $input.first().json;\nconst contextoGlosario = $('Consolidar Contexto').first().json.contexto_consolidado;\nconst { estructuraMEI, objetivo_actual, contexto_superior, progresionPedagogica } = validatedData;\n\nlet promptBase = `Eres un redactor de diseño instruccional. Tu función es tomar una estrategia pedagógica y convertirla en un borrador de indicadores formales, enfocándote en la estructura correcta para cada modelo MEI.`;\nlet contextoTexto = \"\";\nlet tareaTexto = \"\";\nlet finalInstructions = \"\";\n\nif (estructuraMEI === 'MEI-Antiguo') {\n  const ras = contexto_superior.resultadosAprendizaje.map(ra => `- ${ra.texto}`).join('\\\\n');\n  contextoTexto = `### OBJETIVOS DE NIVEL SUPERIOR (RA):\\n${ras}`;\n  tareaTexto = `Para cada paso, redacta un borrador de Indicador de Logro (IL) descompuesto, enfocándote en el **Contenido** temático.`;\n\n  finalInstructions = `\n### INSTRUCCIONES DE REDACCIÓN (MEI ANTIGUO):\n1.  **HABILIDAD:** Usa el 'verbo_principal' proporcionado, conjugado en tercera persona plural.\n2.  **ESTRUCTURA:** Rellena los campos 'habilidad', 'contenido' (el conocimiento o tema), y 'condicion_contexto'.\n3.  **FORMATO DE SALIDA:** Responde ÚNICAMENTE con un array JSON de objetos con los campos: habilidad, contenido, condicion_contexto.\n`;\n\n} else if (estructuraMEI === 'MEI-Actualizado') {\n  const rfs = contexto_superior.resultadosFormativos.map(rf => `- ${rf.texto}`).join('\\\\n');\n  contextoTexto = `### OBJETIVO DE NIVEL SUPERIOR (RF):\\n${rfs}`;\n  tareaTexto = `Para cada paso, redacta un borrador de Indicador de Desempeño (ID) como una frase completa, enfocándote en un **Producto o Proceso** observable.`;\n  \n  finalInstructions = `\n### INSTRUCCIONES DE REDACCIÓN (MEI ACTUALIZADO):\n1.  **VERBO:** La frase debe comenzar con el 'verbo_principal' proporcionado, en infinitivo.\n2.  **ESTRUCTURA:** La frase debe seguir el formato: Verbo + **Producto** (tangible) o **Proceso** (observable) + Condición/Contexto.\n3.  **FORMATO DE SALIDA:** Responde ÚNICAMENTE con un array JSON de strings, donde cada string es el indicador redactado.\n`;\n}\n\nconst datosEntrada = `### OBJETIVO PRINCIPAL A DESGLOSAR:\\n\"${objetivo_actual.texto}\"\n### PROGRESIÓN PEDAGÓGICA A CONVERTIR:\\n${JSON.stringify(progresionPedagogica, null, 2)}`;\nconst promptFinal = `${promptBase}\\n${contextoTexto}\\n### CONTEXTO PEDAGÓGICO:\\n${contextoGlosario}\\n### TAREA:\\n${tareaTexto}\\n${datosEntrada}\\n${finalInstructions}`;\n\nreturn {\n    json: {\n        prompt: promptFinal,\n        objetivo_actual: objetivo_actual,\n        contexto_superior: contexto_superior,\n        estructuraMEI: estructuraMEI,\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        1024
      ],
      "id": "91f9da41-c700-495d-b3b9-bf1262bdfcf6",
      "name": "Constructor de Prompt (Agente 2 - Redactor Bruto)"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n:5678",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "1081",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "estructuraMEI": "MEI-Actualizado",
            "resultadosFormativos": [
              {
                "id": "RF-1",
                "texto": "Diseñar estrategias pedagógicas y unidades didácticas que integren conocimientos pedagógicos, teorías del aprendizaje, enfoques inclusivos y principios de diversidad educativa, aplicando el análisis de procesos de aprendizaje, necesidades, intereses y características de los estudiantes de educación básica, con el fin de promover su aprendizaje significativo, desarrollo integral, socioemocional, autonomía, pensamiento crítico y habilidades para la convivencia, fortaleciendo la formación ética, reflexiva y profesional del futuro docente en diversos contextos educativos."
              }
            ],
            "resultadosAprendizaje": [
              {
                "id": "RA-1",
                "tributaA": [
                  "RF-1"
                ],
                "texto": "Diseñar unidades didácticas que integren estrategias pedagógicas inclusivas y pertinentes, aplicando el análisis de los procesos de aprendizaje de estudiantes de educación básica, con el fin de promover su desarrollo integral y socioemocional."
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook/0b0f8ddd-f0bb-476b-ac21-9e81f74f2c6c",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "RAG de Dominio": {
      "main": [
        [
          {
            "node": "Consolidar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "RAG de Dominio",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente 1 - Estratega",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente 2 - Redactor Bruto",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente 3 - Supervisor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Desglosar Objetivos en Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Extraer Indicadores": {
      "main": [
        [
          {
            "node": "Procesar Uno por Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desglosar Objetivos en Items": {
      "main": [
        [
          {
            "node": "Procesar Uno por Uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Uno por Uno": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG de Dominio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Formatear Salida Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Salida Final": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa (200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Contexto": {
      "main": [
        [
          {
            "node": "Constructor de Prompt (Agente 1 - Estratega)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constructor de Prompt (Agente 1 - Estratega)": {
      "main": [
        [
          {
            "node": "Agente 1 - Estratega",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente 1 - Estratega": {
      "main": [
        [
          {
            "node": "Validar Salida del Estratega",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Salida del Estratega": {
      "main": [
        [
          {
            "node": "Constructor de Prompt (Agente 2 - Redactor Bruto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente 2 - Redactor Bruto": {
      "main": [
        [
          {
            "node": "Constructor de Prompt (Agente 3 - Supervisor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constructor de Prompt (Agente 3 - Supervisor)": {
      "main": [
        [
          {
            "node": "Agente 3 - Supervisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente 3 - Supervisor": {
      "main": [
        [
          {
            "node": "Validar y Extraer Indicadores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constructor de Prompt (Agente 2 - Redactor Bruto)": {
      "main": [
        [
          {
            "node": "Agente 2 - Redactor Bruto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da79ad85-1e50-435e-9b1d-81c3669bc6ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81f9aa344da0912f901e07498089d3dd54ba6d767dbe4d581a261cb5d8886bb9"
  },
  "id": "ChIBB6KiCNlHa36x",
  "tags": []
}