N8N Workflows/Ingesta de DI.json
{
  "name": "Ingesta de DI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "455ec6c7-6a0d-481b-af71-7516cbbb21a5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "7e4717a6-be57-493d-b383-0f0b22b6f852",
      "name": "Webhook",
      "webhookId": "455ec6c7-6a0d-481b-af71-7516cbbb21a5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hzfcabvdrytxgaoqjeag.supabase.co/storage/v1/object/di-bucket/{{$json.query.userId}}/{{$binary.file.fileName.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")}}\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        0
      ],
      "id": "6afafeb3-fea0-4a01-99e8-6b7fe9c8c861",
      "name": "Upload to S3 bucket",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        },
        "httpHeaderAuth": {
          "id": "9Mj2fKfgn7ZbteoT",
          "name": "Supabase Service Role"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "disenos_instruccionales",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Webhook').item.json.query.userId }}"
            },
            {
              "fieldId": "nombre_archivo",
              "fieldValue": "={{$('Webhook').item.binary.file.fileName.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")}}"
            },
            {
              "fieldId": "url_storage",
              "fieldValue": "={{ $json.Id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        -112
      ],
      "id": "1b3297a8-fcc2-4b08-ae3a-e38f43536fc6",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"success\", \"message\": \"Archivo subido y registrado correctamente.\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        976,
        -112
      ],
      "id": "a030f402-253c-494e-a517-35223356e89a",
      "name": "Response Created"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        112
      ],
      "id": "f289ea41-b41e-408b-87d9-fcd49ae6cc46",
      "name": "Response Exists"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload to S3 bucket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3 bucket": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Response Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9313756a-77b4-4bdb-9ee7-e1789f4c3d44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81f9aa344da0912f901e07498089d3dd54ba6d767dbe4d581a261cb5d8886bb9"
  },
  "id": "IOl7EJaEpVfi8y8c",
  "tags": []
}