N8N Workflows/PoC - Sincronización de Dominio.json
{
  "name": "PoC - Sincronización de Dominio",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        384
      ],
      "id": "d2246925-6b2a-4197-b5bf-0333879a03f0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "152932f8-7f1a-43f7-ada6-ae682a43dbce",
              "name": "glosarioCompleto",
              "value": "=# **Glosario de Dominio UNAB**\n\nFecha: 09-10-2025  \nAutor: Martín Gil\n\n## \n\n## \n\n## **1\\. Introducción y Propósito**\n\nEste documento constituye la especificación formal y la única fuente de verdad (single source of truth) para el modelo de datos y la lógica de negocio del sistema \"Validador QM\". Su propósito es traducir el complejo dominio del diseño instruccional y el aseguramiento de la calidad de la Universidad Andrés Bello (UNAB) a un modelo computacional no ambiguo, robusto y verificable.\n\nToda entidad, atributo, relación y regla definida aquí sirve como el \"contrato semántico\" que gobierna la ingesta, el almacenamiento, el análisis y la presentación de datos dentro del sistema. La adherencia estricta a este glosario es mandatoria para garantizar la integridad, consistencia y fidelidad del sistema al modelo pedagógico que busca servir.\n\n## \n\n## **2\\. Principios Fundamentales del Modelo**\n\nEl dominio se rige por los siguientes principios axiomáticos, derivados del análisis de la documentación oficial de UNAB:\n\n* **Principio de Jerarquía de Aprendizaje Explícita:** El sistema reconoce dos estructuras jerárquicas válidas para el conocimiento:  \n  * **Paradigma Centrado en el Perfil (`RF-RA-ID`):** Un `resultadoFormativo` de alto nivel se descompone en `resultadosAprendizaje` específicos de una asignatura, los cuales se desglosan en `indicadoresDeDesempeno`.  \n  * **Paradigma Centrado en la Asignatura (`RA-AE-IL`):** Un `resultadoDeAprendizaje` de asignatura se descompone en `aprendizajesEsperados` a nivel de unidad, los cuales se desglosan en `indicadoresDeLogro`.  \n* **Principio de Alineamiento Constructivo Riguroso:** Cada componente del diseño instruccional debe estar explícitamente alineado. Las actividades y evaluaciones deben medir directamente el logro de los `indicadoresDeDesempeno` o `indicadoresDeLogro`, y a su vez ser coherentes con la metodología declarada, asegurando una cadena de coherencia ininterrumpida hasta el objetivo de aprendizaje de mayor nivel correspondiente a su paradigma.  \n* **Principio de Evaluación Basada en Evidencia Pertinente:** La evaluación es un medio para recolectar evidencia del logro del aprendizaje. Toda evaluación debe ser **pertinente a los objetivos de aprendizaje** y estar **alineada a la metodología o estrategia didáctica** utilizada para enseñarlos.  \n* **Principio de Desambiguación Taxonómica:** Para prevenir la confusión entre niveles de habilidad cognitiva, el sistema no solo se rige por la Taxonomía UNAB, sino que utiliza activamente las **definiciones y ejemplos canónicos del Anexo A** como patrones de referencia para validar y desambiguar la clasificación de la complejidad de un objetivo.  \n* **Principio de Coherencia Narrativa y Didáctica:** El diseño instruccional debe constituir una narrativa coherente que conecte el \"porqué\" del curso con el \"cómo\" de sus componentes, utilizando la **didáctica** como herramienta para fomentar el **compromiso (`engagement`)** y la motivación del estudiante.\n\n## \n\n## **3\\. Glosario de Entidades**\n\n| Término (JSON-LD) | Tipo de Entidad | Definición Canónica |\n| :---- | :---- | :---- |\n| curso | **Estructural** | La entidad contenedora principal que representa una asignatura. Posee metadatos administrativos. |\n| actor | **Estructural** | Representa a una persona y su rol dentro del proceso de diseño o impartición del curso. Vocabulario de Roles: Diseñador Instruccional, Docente Experto, Coordinador, Docente |\n| resultadoFormativo | **Nuclear (Paradigma `CentradoEnPerfil`)** | Se articulan con el perfil de egreso y orientan el diseño curricular en todos sus niveles. **Estructura:** `Verbo de alto nivel cognitivo` \\+ `capacidad` \\+ `contexto` \\+ `finalidad profesional o formativa`. |\n| resultadoAprendizaje | **Nuclear** | **En Paradigma `CentradoEnPerfil`:** Formulados para tributar a un `resultadoFormativo`. Orientan la elaboración de `indicadoresDeDesempeno`. **Estructura:** `Verbo observable` \\+ `contenido o conocimiento específico` \\+ `finalidad formativa`. **En Paradigma `CentradoEnAsignatura`:** Es el objetivo de más alto nivel de la asignatura, del cual se desprenden los `aprendizajesEsperados`. |\n| indicadorDesempeno | **Nuclear (Paradigma `CentradoEnPerfil`)** | Descripciones precisas de las evidencias que permiten verificar el logro de un `resultadoAprendizaje`, orientando la evaluación y la retroalimentación. **Estructura:** `Verbo observable en infinitivo` \\+ `producto o proceso` \\+ `condición de calidad o contexto`. |\n| aprendizajeEsperado | **Nuclear (Paradigma `CentradoEnAsignatura`)** | Declaraciones claras y precisas que describen los conocimientos, habilidades, actitudes y valores que se espera que los estudiantes logren. Son la base para diseñar la evaluación. **Estructura:** `Habilidad` \\+ `Contenido` \\+ `Nivel de Dominio/finalidad`. |\n| indicadorDeLogro | **Nuclear (Paradigma `CentradoEnAsignatura`)** | Criterios observables y medibles que permiten verificar el nivel de cumplimiento de los `aprendizajesEsperados`. Representan un desglose y concreción de estos. |\n| habilidadCognitiva | **Nuclear** | Representa la complejidad cognitiva de un objetivo y se compone de la combinación de un `nivelTaxonomico` y un `verboAccion`, validados contra el Anexo A. |\n| contenido | **Nuclear** | Conjunto de saberes (hechos, conceptos, procedimientos, valores) que son seleccionados y organizados para ser enseñados y aprendidos en el marco de los objetivos de aprendizaje. |\n| narrativaPedagogica | **Nuclear** | Entidad que captura la intención y el \"storytelling\" de un curso o unidadDidactica. |\n| unidadDidactica | **Estructural** | Contenedor temático principal que agrupa semanas relacionadas. |\n| semana | **Estructural** | Contenedor temporal que organiza las actividades en una secuencia cronológica. |\n| actividad | **De Proceso** | Experiencia de aprendizaje (concreta, intencionada y sistemática) diseñada para que el estudiante desarrolle un aprendizaje. Debe estar alineada a un `indicadorDeDesempeno` o `indicadorDeLogro` y ser coherente con la `metodologia` del curso. |\n| producto | **De Proceso** | Una evidencia de aprendizaje tangible y entregable generada por el estudiante (ej. Informe, Ensayo). |\n| proceso | **De Proceso** | Etapas o fases de una tarea que permiten al estudiante demostrar la aplicación de habilidades y conocimientos en tiempo real (ej. participación en un debate, trabajo colaborativo). |\n| instrumentoEvaluacion | **De Proceso** | La herramienta específica utilizada para medir la calidad de un producto o proceso. Vocabulario Controlado: Rúbrica, Escala de apreciación, Lista de cotejo, Pauta de corrección. |\n| retroalimentacion | **De Proceso** | Proceso de devolución de información sobre el desempeño del estudiante. Debe estar orientada a los aprendizajes e indicadores, ser oportuna, clara y fomentar la mejora. |\n| recursoDeAprendizaje | **De Proceso** | Material didáctico seleccionado con la intención de facilitar el logro de un objetivo de aprendizaje. Su **contribución pedagógica** debe ser explícita. |\n| criterioAccesibilidad | **De Proceso** | Una directriz o estándar específico que asegura que un recursoDeAprendizaje es usable por personas con diversas capacidades (ej. presencia de texto alternativo en imágenes, subtítulos en videos). |\n\n## \n\n## **4\\. Glosario de Atributos y Vocabularios Controlados**\n\n| Atributo (JSON-LD) | Entidad Asociada | Definición y Vocabulario Controlado |\n| :---- | :---- | :---- |\n| codigo | curso | Identificador alfanumérico único de la asignatura (ej. \"AIIN213\"). |\n| modalidad | curso | Modalidad de impartición. **Vocabulario:** Online, Híbrido, Presencial. |\n| rol | actor | Rol en el diseño. **Vocabulario:** Diseñador Instruccional, Docente Experto, Coordinador. |\n| introduccionMotivacional | narrativaPedagogica | Texto que presenta el propósito y relevancia de la unidad o curso. |\n| metodologia | actividad | Enfoque pedagógico. **Vocabulario:** Aprendizaje Basado en Proyectos (ABP), Análisis de Caso, Aprendizaje Colaborativo. |\n| propositoEvaluativo | actividad | Si este atributo existe, la actividad es una evaluación. **Vocabulario:** Diagnóstica, Formativa, Sumativa. |\n| ponderacion | actividad | Valor numérico (0-100). Solo aplica si propositoEvaluativo es Sumativa. |\n| horasDedicacionEstudiante | actividad | Valor numérico que representa la estimación de horas cronológicas de trabajo que un estudiante debe dedicar para completar la actividad. |\n| agenteEvaluador | actividad | Quién evalúa. **Vocabulario:** Heteroevaluación, Coevaluación, Autoevaluación. |\n| nivelTaxonomico | habilidadCognitiva | **Vocabulario:** 1: Reconocer, 2: Entender, 3: Aplicar, 4: Analizar, 5: Evaluar, 6: Crear. |\n| verboAccion | habilidadCognitiva | Verbo específico validado contra el Anexo A. |\n| formatoRetroalimentacion | retroalimentacion | **Vocabulario:** Escrita, Oral (Sincrónica), Video-grabada, Automatizada. |\n| momentoRetroalimentacion | retroalimentacion | **Vocabulario:** Inmediata, Diferida. |\n| tipoRecurso | recursoDeAprendizaje | **Vocabulario:** Lectura (PDF/DOC), Video, Audio, Enlace Web. |\n| url | recursoDeAprendizaje | El URL que apunta al recurso digital. |\n| esObligatorio | recursoDeAprendizaje | Atributo booleano (true/false) que indica si el recurso es de consulta obligatoria o complementaria para el estudiante. |\n| descripcionAccesibilidad | recursoDeAprendizaje | Un campo de texto que describe cómo el recurso cumple con los criterios de accesibilidad (ej. \"Todas las imágenes contienen texto alternativo descriptivo\"). |\n| esSincronica | actividad | Atributo booleano (true/false) que especifica si la actividad requiere la participación simultánea de los estudiantes y/o el docente. |\n| paradigmaCurricular | curso | Especifica el paradigma de diseño bajo el cual se construyó el curso. Vocabulario: CentradoEnAsignatura, CentradoEnPerfil. |\n| tipoProducto | producto | Especifica el tipo de entregable tangible. **Vocabulario Sugerido**: Informe, Ensayo, Mapa Conceptual, Análisis de Caso, Portafolio, Infografía, etc. |\n| tipoProceso | proceso | Especifica el tipo de desempeño observable. **Vocabulario Sugerido:** Debate, Exposición, Foro, Simulación, Resolución de Ejercicios. |\n| periodicidadEvaluacionSumativa | curso | Describe la frecuencia esperada para las evaluaciones sumativas, sirviendo como una guía para la distribución de la carga evaluativa. Es un campo de texto descriptivo (ej. \"Quincenal\", \"Mensual\", \"Al cierre de cada unidad\"). |\n| definicionVerbo | habilidadCognitiva | Un campo de texto que almacena la definición oficial del verboAccion seleccionado, extraída directamente del Anexo A. Este atributo asegura que el significado de la habilidad sea explícito y auto-contenido dentro del modelo de datos. |\n| ejemploDeUso | habilidadCognitiva | Un campo de texto que provee un ejemplo canónico de cómo el verboAccion se utiliza en un enunciado instruccional, extraído del Anexo A. Este atributo es clave para la desambiguación semántica. |\n\n## \n\n## **5\\. Modelo de Relaciones (Predicados)**\n\n## A continuación, se definen las relaciones lógicas entre entidades, separadas por el paradigma curricular al que aplican.\n\n#### **Relaciones Comunes a Ambos Paradigmas** \n\n| Predicado (JSON-LD) | Definición | Dominio (Sujeto) | Rango (Objeto) |\n| ----- | ----- | ----- | ----- |\n| contiene | Relaciona una entidad contenedora con las entidades que agrupa. | curso, unidadDidactica, semana | unidadDidactica, semana, actividad |\n| utilizaRecurso | Conecta una actividad con el recursoDeAprendizaje que contribuye a su ejecución. | actividad | recursoDeAprendizaje |\n| incluyeRetroalimentacion | Conecta una actividad evaluativa con su retroalimentacion. | actividad | retroalimentacion |\n| esResponsable | Asigna un actor a un curso. | curso | actor |\n\n#### \n\n#### **Relaciones del Paradigma `CentradoEnPerfil` (Nuevo)**\n\n| Predicado (JSON-LD) | Definición | Dominio (Sujeto) | Rango (Objeto) |\n| ----- | ----- | ----- | ----- |\n| tributaA | Conecta un resultadoAprendizaje de asignatura con el resultadoFormativo al que contribuye. | resultadoAprendizaje | resultadoFormativo |\n| seDescomponeEn | Relaciona un resultadoAprendizaje con sus indicadoresDeDesempeno. | resultadoAprendizaje | indicadorDesempeno |\n| mideLogroDe | Conecta una actividad evaluativa con el indicadorDeDesempeno que mide. | actividad | indicadorDesempeno |\n\n#### **Relaciones del Paradigma `CentradoEnAsignatura` (Antiguo)** \n\n| Predicado (JSON-LD) | Definición | Dominio (Sujeto) | Rango (Objeto) |\n| ----- | ----- | ----- | ----- |\n| seDesglosaEn | Relaciona un aprendizajeEsperado con sus indicadoresDeLogro. | aprendizajeEsperado | indicadorDeLogro |\n| mideLogroDe | Conecta una actividad evaluativa con el indicadorDeLogro que mide. | actividad | indicadorDeLogro |\n\n## \n\n## \n\n## **6\\. Reglas de Dominio Mandatorias**\n\nLas siguientes reglas se aplican de forma condicional según el `paradigmaCurricular` del `curso`.\n\n#### **Reglas Comunes a Ambos Paradigmas** \n\n1. **Completitud de la Ponderación:** La suma de ponderación de todas las actividades sumativas de un curso debe ser 100\\.  \n2. **Contención Estructural:** Toda actividad debe estar en una semana, y toda semana en una unidadDidactica.  \n3. **Disponibilidad de Recursos:** Todo recursoDeAprendizaje debe tener un url válido y accesible.  \n4. **Retroalimentación Obligatoria:** Toda actividad sumativa debe tener asociada una retroalimentación.  \n5. **Diversidad de Instrumentos y Metodologías:** Un curso no debe utilizar un único tipo de instrumentoEvaluacion o una única metodología para todas sus actividades sumativas.  \n6. **Secuenciación Lógica:** Si una actividad B dependeDe una actividad A, la semana que contiene a B debe tener un número igual o superior a la semana que contiene a A.  \n7. **Coherencia Metodológica:** Todas las actividades y evaluaciones de un curso deben ser coherentes con la metodología declarada.\n\n#### **Reglas del Paradigma `CentradoEnPerfil` (Nuevo)**\n\n1. **Jerarquía RF-RA-ID:** Un `curso` debe tributar a un `RF`; cada `RA` debe descomponerse en uno o más `ID`.  \n2. **Alineamiento Evaluativo ID:** Toda `actividad` sumativa debe medir (`mideLogroDe`) uno o más `ID`.  \n3. **Coherencia Taxonómica RA-ID:** El nivel taxonómico de un `ID` no puede superar el del `RA` del que depende.\n\n#### **Reglas del Paradigma `CentradoEnAsignatura` (Antiguo)**\n\n1. **Jerarquía RA-AE-IL:** Un `curso` debe contener `AE`; cada `AE` debe desglosarse (`seDesglosaEn`) en uno o más `IL`.  \n2. **Alineamiento Evaluativo IL:** Toda `actividad` sumativa debe medir (`mideLogroDe`) uno o más `IL`.  \n3. **Coherencia Taxonómica AE-IL:** El nivel taxonómico de un `IL` no puede superar el del `AE` del que depende.\n\n## \n\n## **7\\. Restricciones de Integridad del Modelo (Constraints)**\n\nEsta sección formaliza las reglas de cardinalidad para la construcción del grafo de conocimiento.\n\n| Relación | Dominio | Predicado | Rango | Constraint |\n| :---- | :---- | :---- | :---- | :---- |\n| Jerarquía de RA | resultadoAprendizaje | seDescomponeEn | indicadorDesempeno | \\[1..\\*\\] (Uno a Muchos) |\n| Alineamiento Evaluativo | actividad (sumativa) | mideLogroDe | indicadorDesempeno | \\[1..\\*\\] (Uno a Muchos) |\n| Contención de Actividad | actividad | contiene (inverso) | semana | \\[1..1\\] (Exactamente Uno) |\n| Contención de Semana | semana | contiene (inverso) | unidadDidactica | \\[1..1\\] (Exactamente Uno) |\n| Evidencia de Actividad | actividad | generaEvidencia | producto / proceso | \\[1..1\\] (Exactamente Uno) |\n| Cobertura de Contenido | actividad | abordaContenido | contenido | \\[1..\\*\\] (Uno a Muchos) |\n| Cumplimiento Accesibilidad | recursoDeAprendizaje | cumpleCriterio | criterioAccesibilidad | \\[0..\\*\\] (Cero a Muchos) |\n\n## \n\n## **Anexo A: Modelo Detallado de la Taxonomía de Habilidades Cognitivas UNAB**\n\n### **Nivel 1: Reconocer**\n\n* **Definición General:** Recuperar información relevante desde la memoria a largo plazo.  \n* **Verbos de Acción:**  \n  * Definir: Entregar el significado de un concepto. **Ejemplo de uso:** \"Defina el concepto de alineamiento constructivo.\"  \n  * Identificar: Localizar y seleccionar información específica. **Ejemplo de uso:** \"Identifique los componentes principales de un Diseño Instruccional.\"  \n  * Listar: Enumerar elementos o características. **Ejemplo de uso:** \"Liste tres principios del diseño centrado en el usuario.\"  \n  * Nombrar: Mencionar o designar un objeto o concepto. **Ejemplo de uso:** \"Nombre las fases del ciclo de vida del software.\"  \n  * Repetir: Reproducir información de manera literal. **Ejemplo de uso:** \"Repita la primera Ley de Newton.\"\n\n### **Nivel 2: Entender**\n\n* **Definición General:** Construir significado a partir de material educativo.  \n* **Verbos de Acción:**  \n  * Clasificar: Agrupar elementos en categorías según un criterio. **Ejemplo de uso:** \"Clasifique los siguientes triángulos según la medida de sus ángulos.\"  \n  * Comparar: Establecer semejanzas y diferencias entre dos o más elementos. **Ejemplo de uso:** \"Compare las ventajas y desventajas de las metodologías ágiles y en cascada.\"  \n  * Ejemplificar: Proporcionar un caso o instancia concreta de un concepto. **Ejemplo de uso:** \"Ejemplifique un uso correcto de la recursividad en programación.\"  \n  * Explicar: Describir las causas, efectos o relaciones de un fenómeno. **Ejemplo de uso:** \"Explique el impacto de la inflación en el poder adquisitivo.\"  \n  * Inferir: Deducir una conclusión a partir de la información disponible. **Ejemplo de uso:** \"A partir del gráfico de ventas, infiera la tendencia del mercado para el próximo trimestre.\"  \n  * Interpretar: Aclarar, traducir o representar información de una manera distinta. **Ejemplo de uso:** \"Interprete los resultados de la encuesta de satisfacción del cliente.\"  \n  * Resumir: Abstraer las ideas principales o la esencia de un texto. **Ejemplo de uso:** \"Resuma en un párrafo el argumento central del autor.\"\n\n### **Nivel 3: Aplicar**\n\n* **Definición General:** Utilizar un procedimiento en una situación determinada.  \n* **Verbos de Acción:**  \n  * Ejecutar: Llevar a cabo un procedimiento o rutina. **Ejemplo de uso:** \"Ejecute el script de instalación siguiendo las instrucciones.\"  \n  * Implementar: Poner en práctica una metodología o plan. **Ejemplo de uso:** \"Implemente una estrategia de marketing de contenidos para un nuevo producto.\"  \n  * Resolver: Encontrar la solución a un problema aplicando reglas o principios. **Ejemplo de uso:** \"Resuelva la siguiente ecuación diferencial.\"  \n  * Usar: Emplear una herramienta o método en una situación concreta. **Ejemplo de uso:** \"Use la herramienta de análisis FODA para evaluar la situación de la empresa.\"\n\n### **Nivel 4: Analizar**\n\n* **Definición General:** Descomponer el material en sus partes constituyentes y determinar cómo se relacionan.  \n* **Verbos de Acción:**  \n  * Atribuir: Determinar el punto de vista o intención detrás de un material. **Ejemplo de uso:** \"Atribuya la perspectiva teórica del autor en el texto analizado.\"  \n  * Diferenciar: Distinguir las partes relevantes de las irrelevantes. **Ejemplo de uso:** \"Diferencie entre las causas estructurales y coyunturales de la crisis.\"  \n  * Examinar: Investigar de manera detallada las partes y sus interrelaciones. **Ejemplo de uso:** \"Examine la estructura de costos de la empresa e identifique áreas de mejora.\"  \n  * Organizar: Estructurar los elementos de un todo coherente. **Ejemplo de uso:** \"Organice los datos de la investigación en un marco conceptual lógico.\"  \n  * Relacionar: Establecer conexiones lógicas entre diferentes conceptos. **Ejemplo de uso:** \"Relacione los principios de la termodinámica con el funcionamiento de un motor de combustión.\"\n\n### **Nivel 5: Evaluar**\n\n* **Definición General:** Realizar juicios basados en criterios y estándares.  \n* **Verbos de Acción:**  \n  * Argumentar: Sostener una postura con razones y evidencias. **Ejemplo de uso:** \"Argumente a favor o en contra de la propuesta, utilizando al menos tres fuentes académicas.\"  \n  * Criticar: Juzgar el valor de una obra o idea basándose en criterios. **Ejemplo de uso:** \"Critique la validez metodológica del estudio presentado.\"  \n  * Fundamentar: Justificar una decisión o juicio con base en una teoría o evidencia. **Ejemplo de uso:** \"Fundamente su elección de diseño basándose en los principios de usabilidad.\"  \n  * Valorar: Estimar la importancia o mérito de algo. **Ejemplo de uso:** \"Valore el impacto ético de la implementación de esta tecnología.\"\n\n### **Nivel 6: Crear**\n\n* **Definición General:** Juntar elementos para formar un todo coherente o funcional.  \n* **Verbos de Acción:**  \n  * Construir: Fabricar o edificar una estructura física o conceptual. **Ejemplo de uso:** \"Construya un modelo 3D del sistema solar a escala.\"  \n  * Diseñar: Concebir un plan o prototipo para un objeto o sistema. **Ejemplo de uso:** \"Diseñe una interfaz de usuario para una aplicación móvil de gestión de tareas.\"  \n  * Elaborar: Desarrollar un producto con detalle y cuidado. **Ejemplo de uso:** \"Elabore un plan de negocios para una nueva empresa de tecnología.\"  \n  * Formular: Crear una hipótesis o plan de manera sistemática. **Ejemplo de uso:** \"Formule una hipótesis de investigación para explicar el fenómeno observado.\"\n\n## **Anexo B: Ejemplos de Modelado Canónico**\n\nEsta sección provee ejemplos simplificados para ilustrar cómo las entidades, atributos y relaciones del glosario se aplican a casos de uso concretos. Su propósito es servir como guía de referencia para la implementación técnica.\n\n### **B.1: Modelado bajo el Paradigma CentradoEnAsignatura (Antiguo)**\n\nEste ejemplo modela una evaluación simple en un curso que sigue la jerarquía antigua.\n\n* **Curso:** AIIN213 \\- Planificación y Mejora de Procesos (paradigmaCurricular: CentradoEnAsignatura)  \n* **Aprendizaje Esperado (AE):** \"Aplicar herramientas de Lean Manufacturing para la optimización de procesos.\"  \n* **Indicador de Logro (IL):** \"Identifica los 7 desperdicios del Lean Manufacturing en un caso de estudio proporcionado.\"  \n* **Actividad (Evaluación Sumativa):** Un análisis de caso donde el estudiante debe identificar desperdicios en un proceso ficticio.\n\n### **B.2: Modelado bajo el Paradigma CentradoEnPerfil (Nuevo)**\n\nEste ejemplo modela una actividad en un curso del nuevo paradigma, mostrando la trazabilidad completa desde el Resultado Formativo.\n\n* **Resultado Formativo (RF):** \"Diseñar estrategias pedagógicas inclusivas...\"  \n* **Curso:** CFSA3220 \\- Mecánica (paradigmaCurricular: CentradoEnPerfil)  \n* **Resultado de Aprendizaje (RA):** \"Aplicar los principios de la mecánica newtoniana para resolver problemas de dinámica en sistemas de partículas.\"  \n* **Indicador de Desempeño (ID):** \"Modela sistemas de fuerzas aplicando las Leyes de Newton para determinar la aceleración de un objeto en un plano inclinado.\"  \n* **Actividad (Evaluación Formativa):** Una simulación interactiva con ejercicios de aplicación.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        384
      ],
      "id": "cad5eceb-2a53-443b-a809-037fa1350fcf",
      "name": "Data"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1688,
        608
      ],
      "id": "eb0b3323-12a7-4913-b462-fec95c57b074",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "1fRbxclakan4SB2c",
          "name": "Api 1"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawOutput = $json.output;\nconst jsonRegex = /\\[[\\s\\S]*\\]/; // Busca un array JSON\nconst match = rawOutput.match(jsonRegex);\n\nif (match && match[0]) {\n  const jsonArray = JSON.parse(match[0]);\n  // Devuelve el array parseado\n  return { json: { glosarioParseado: jsonArray } };\n}\nreturn { json: { error: \"No se encontró un array JSON válido en la salida del LLM.\" } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        384
      ],
      "id": "cbdf13bb-b485-485b-b54a-46e2b61d1fc1",
      "name": "Limpiar y Parsear JSON"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "glosario_chunks",
        "filterType": "string",
        "filterString": "id=not.is.null"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        384
      ],
      "id": "4d8cbca6-ab75-42a1-b4bc-3ff7393da0c1",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un motor de parseo de documentos experto en el dominio pedagógico. Tu tarea es leer el siguiente \"Glosario de Dominio UNAB\" y convertirlo en un único array JSON.\n\nLa estructura de salida debe ser:\n[{ \"content\": \"El texto a vectorizar\", \"metadata\": { \"termino\": \"...\", \"fuente\": \"...\", \"paradigma\": \"...\", ... } }, ...]\n\nDebes seguir estas reglas ESTRICTAMENTE:\n\n1.  **Secciones 3, 4 y 5 (Entidades, Atributos, Predicados):** Crea un objeto JSON por cada fila de las tablas.\n    * `content`: Debe ser la \"Definición Canónica\" o \"Definición y Vocabulario Controlado\".\n    * `metadata.termino`: El \"Término (JSON-LD)\" o \"Atributo (JSON-LD)\".\n    * `metadata.tipo`: \"Entidad\", \"Atributo\" o \"Predicado\".\n    * `metadata.paradigma`: \"CentradoEnPerfil\", \"CentradoEnAsignatura\" o \"Universal\" (si aplica, si no, omite).\n    * `metadata.fuente`: \"Glosario de Entidades\" (o Atributos/Predicados).\n\n2.  **Anexo A (Taxonomía):** Esta es la parte más IMPORTANTE. Debes crear un objeto JSON separado para CADA VERBO DE ACCIÓN.\n    * `content`: Debe ser la concatenación de la \"Definición del verbo\" (si la hay) y su \"Ejemplo de uso\".\n    * `metadata.termino`: El verbo en infinitivo (ej. \"Definir\", \"Identificar\", \"Clasificar\").\n    * `metadata.nivelTaxonomico`: El nivel al que pertenece (ej. \"Nivel 1: Reconocer\").\n    * `metadata.definicionGeneralNivel`: La \"Definición General\" de ese nivel (ej. \"Recuperar información relevante...\").\n    * `metadata.fuente`: \"Anexo A: Taxonomía\".\n\n3.  **Otros Principios (Sección 2):** Crea un objeto JSON por cada principio (ej. \"Principio de Alineamiento Constructivo Riguroso\").\n    * `content`: El texto completo del principio.\n    * `metadata.termino`: El nombre del principio.\n    * `metadata.fuente`: \"Principios Fundamentales\".\n\nResponde ÚNICAMENTE con el array JSON completo y nada más.\n\n**** DOCUMENTO A PARSEAR: ****\n\n{{ $('Data').first().json.glosarioCompleto }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        880,
        384
      ],
      "id": "0e71813b-7d7f-41d8-9931-ac028a1dfa6c",
      "name": "Parsear Glosario a JSON"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        952,
        608
      ],
      "id": "beeca843-6784-4423-b2ad-8e24c6dd6b39",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "1fRbxclakan4SB2c",
          "name": "Api 1"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "glosarioParseado",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1456,
        384
      ],
      "id": "3147f875-30f2-4990-a5be-ec199f97eeff",
      "name": "Split Glosario"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "glosario_chunks",
          "mode": "list",
          "cachedResultName": "glosario_chunks"
        },
        "options": {
          "queryName": "match_glosario_chunks"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1680,
        384
      ],
      "id": "d7ec992c-2076-4b8b-ac37-3d8f41c5f663",
      "name": "Insertar y Vectorizar",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "termino",
                "value": "={{ $json.metadata.termino || \"null\" }}"
              },
              {
                "name": "fuente",
                "value": "={{ $json.metadata.fuente || \"null\" }}"
              },
              {
                "name": "paradigma",
                "value": "={{ $json.metadata.paradigma || \"null\" }}"
              },
              {
                "name": "tipo",
                "value": "={{ $json.metadata.tipo || \"null\" }}"
              },
              {
                "name": "nivelTaxonomico",
                "value": "={{ $json.metadata.nivelTaxonomico || \"null\" }}"
              },
              {
                "name": "definicionGeneralNivel",
                "value": "={{ $json.metadata.definicionGeneralNivel || \"null\" }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1816,
        608
      ],
      "id": "8d485944-ced5-439c-b3cb-006fed482cbf",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        384
      ],
      "id": "d5a19bd8-d0bc-45d9-aa18-20dcd25df17c",
      "name": "Aggregate"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Insertar y Vectorizar",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar y Parsear JSON": {
      "main": [
        [
          {
            "node": "Split Glosario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Glosario a JSON": {
      "main": [
        [
          {
            "node": "Limpiar y Parsear JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Parsear Glosario a JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Glosario": {
      "main": [
        [
          {
            "node": "Insertar y Vectorizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar y Vectorizar": {
      "main": [
        []
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Insertar y Vectorizar",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Parsear Glosario a JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b9c2991b-92c7-48c4-9fa3-2d472a261d4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81f9aa344da0912f901e07498089d3dd54ba6d767dbe4d581a261cb5d8886bb9"
  },
  "id": "VJijUHAAqp25X5s6",
  "tags": []
}