N8N Workflows/Transformar DI.json
{
  "name": "Transformar DI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=e71af77b-8c5f-4f15-af5a-f0fa2d75d279",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        624
      ],
      "id": "7b03a6a6-8f81-483d-920b-a6227ca7b20b",
      "name": "Webhook",
      "webhookId": "e71af77b-8c5f-4f15-af5a-f0fa2d75d279"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "disenos_instruccionales",
        "filters": {
          "conditions": [
            {
              "keyName": "id_di",
              "keyValue": "={{ $json.body.di_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        624
      ],
      "id": "d8df72da-d110-48ff-960d-7b9494145ced",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ \"https://hzfcabvdrytxgaoqjeag.supabase.co/storage/v1/object/di-bucket/\" + $json.id_usuario + \"/\" + $json.nombre_archivo }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        624
      ],
      "id": "95725620-dd86-4f0a-81b4-83941e856e20",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ decodeURIComponent($binary.data.fileName) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        608,
        624
      ],
      "id": "7ec9e0a1-3bda-4c50-be1f-9a451a264d0f",
      "name": "Write Binary File"
    },
    {
      "parameters": {
        "command": "={{ $json.nombre_archivo.endsWith('.docx') ? `pandoc -f docx -t plain \"${$json.fileName}\" -o \"${$json.fileName}.txt\"` : `pdftotext \"${$json.nombre_archivo}\" \"${$json.nombre_archivo}.txt\"` }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        816,
        624
      ],
      "id": "1067b30e-bdb0-4840-998a-05e8f7c8e9bb",
      "name": "Convertir"
    },
    {
      "parameters": {
        "jsCode": "// Este código toma el texto extraído del DI y construye un prompt robusto y enriquecido.\n\n// Obtenemos el texto plano del nodo anterior, que ahora viene del nodo \"Read Binary File\".\nconst textoDI = Buffer.from($input.first().binary.data.data, 'base64').toString('utf8');\n\n// CORRECCIÓN 1: Un glosario mucho más completo que incluye propiedades de datos.\nconst contextoGlosario = `\n--- INICIO CONTEXTO GLOSARIO (Tu fuente de verdad) ---\n- **Curso (Curso):** La entidad principal. Propiedades: nombre, codigo, creditos, numeroSemanas, modalidad, docenteExperto, disenadorInstruccional, resultadoAprendizajeGeneral, tieneUnidad, contieneSemana.\n- **UnidadDidactica (UnidadDidactica):** Una división temática. Propiedades: nombre, tieneAE.\n- **AprendizajeEsperado (AprendizajeEsperado):** Objetivo de aprendizaje de una unidad. Propiedades: descripcion, verboAccion, nivelTaxonomico, tieneIndicador.\n- **IndicadorLogro (IndicadorLogro):** Evidencia observable de un AE. Propiedades: descripcion, verboAccion.\n- **Semana (Semana):** Una unidad temporal. Propiedades: numeroSemanaOrdinal, nombre, contieneActividad, contieneEvaluacion.\n- **ActividadAprendizaje (ActividadAprendizaje):** Tarea para estudiantes. Propiedades: nombre, descripcion, estrategiaDidactica, ocurreEn, apoyaIndicador, utilizaRecurso.\n- **Evaluacion (Evaluacion):** Medición del aprendizaje. Propiedades: nombre, tipoEvaluacion, pesoCalificacion, retroalimentacion, ocurreEn, evaluaIndicador, utilizaInstrumento.\n- **RecursoAprendizaje (RecursoAprendizaje):** Material de apoyo. Propiedades: nombre, formatoRecurso, urlRecurso.\n- **InstrumentoEvaluacion (InstrumentoEvaluacion):** Herramienta para evaluar (ej. Rúbrica). Propiedades: nombre.\n- **ResultadoAprendizajeGeneral (ResultadoAprendizajeGeneral):** El resultado global del curso. Propiedades: descripcion.\n--- FIN CONTEXTO GLOSARIO ---\n`;\n\n// CORRECCIÓN 2: Se añade una regla con un ejemplo explícito.\nconst reglasEstrictas = `\n--- INICIO REGLAS ESTRICTAS ---\n1. Tu única salida DEBE ser un bloque de código JSON válido. No incluyas explicaciones ni texto adicional fuera del JSON.\n2. Toda la salida DEBE estar contenida dentro de un objeto principal con una única clave \"@graph\", que contendrá un array de objetos.\n3. Cada entidad (Curso, Semana, etc.) DEBE ser un objeto separado en el array \"@graph\".\n4. Cada objeto en el array DEBE tener una propiedad \"@id\" única y un \"@type\" que corresponda a un término del glosario. Usa prefijos para los IDs (ej: \"curso:ATDF102\", \"unidad:U1\", \"ae:AE1\").\n5. Para enlazar entidades, usa un array de objetos con la clave \"@id\". Ejemplo: \"tieneUnidad\": [{ \"@id\": \"unidad:U1\" }].\n6. Utiliza EXCLUSIVAMENTE los términos definidos en el CONTEXTO GLOSARIO. No inventes nuevas propiedades.\n7. EJEMPLO DE ENTIDAD COMPLETA: { \"@id\": \"curso:ATDF102\", \"@type\": \"Curso\", \"nombre\": \"Introducción a la Programación\", \"codigo\": \"ATDF102\", \"creditos\": \"3\" }\n--- FIN REGLAS ESTRICTAS ---\n`;\n\nconst promptFinal = `\nTu rol es ser un sistema experto que transforma texto de un Diseño Instruccional (DI) a un formato JSON-LD. Tu única fuente de verdad para la estructura y los términos es el vocabulario que te proporciono.\n\n${reglasEstrictas}\n\n${contextoGlosario}\n\nAhora, transforma el siguiente texto del Diseño Instruccional, extrayendo todos los datos relevantes para cada entidad:\n\n--- INICIO TEXTO A TRANSFORMAR ---\n${textoDI}\n--- FIN TEXTO A TRANSFORMAR ---\n`;\n\nreturn {\n  json: {\n    prompt: promptFinal\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        624
      ],
      "id": "32fbf358-1ba5-4894-a838-4a958dbc4109",
      "name": "Construir Prompt"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Write Binary File').item.json.fileName }}.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1040,
        624
      ],
      "id": "5bcbd1af-084c-4696-bdb1-07eac782c063",
      "name": "Leer output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1456,
        624
      ],
      "id": "b3593009-6563-480e-b70f-3be983d88f72",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        848
      ],
      "id": "aa4fb7a9-10d5-4fea-9ad7-0a0add3624de",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1fRbxclakan4SB2c",
          "name": "Api 1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- INICIO: Vocabulario Oficial (Fuente de Verdad) ---\nconst contextoCorrecto = {\n  \"@context\": {\n    \"xsd\": \"http://www.w3.org/2001/XMLSchema#\",\n    \"diqa\": \"http://example.org/di-qa#\",\n    \"Curso\": \"diqa:Course\", \"UnidadDidactica\": \"diqa:DidacticUnit\", \"Semana\": \"diqa:Week\",\n    \"AprendizajeEsperado\": \"diqa:ExpectedLearning\", \"IndicadorLogro\": \"diqa:AchievementIndicator\",\n    \"ActividadAprendizaje\": \"diqa:LearningActivity\", \"Evaluacion\": \"diqa:Assessment\",\n    \"RecursoAprendizaje\": \"diqa:LearningResource\", \"EstandarCalidad\": \"diqa:QualityStandard\",\n    \"EstandarGeneralCalidad\": \"diqa:GeneralQualityStandard\", \"codigo\": \"diqa:code\",\n    \"creditos\": \"diqa:credits\", \"numeroSemanas\": \"diqa:numberOfWeeks\",\n    \"fechaInicio\": { \"@id\": \"diqa:startDate\", \"@type\": \"xsd:date\" },\n    \"modalidad\": \"diqa:modality\", \"horasDirectasTotal\": \"diqa:totalDirectHours\",\n    \"docenteExperto\": \"diqa:expertInstructor\", \"disenadorInstruccional\": \"diqa:instructionalDesigner\",\n    \"gpo\": \"diqa:gpo\", \"resultadoAprendizajeGeneral\": \"diqa:generalLearningOutcome\",\n    \"tieneUnidad\": { \"@id\": \"diqa:hasUnit\", \"@type\": \"@id\" },\n    \"contieneSemana\": { \"@id\": \"diqa:containsWeek\", \"@type\": \"@id\" },\n    \"tieneAE\": { \"@id\": \"diqa:hasExpectedLearning\", \"@type\": \"@id\" },\n    \"perteneceAUnidad\": { \"@id\": \"diqa:belongsToUnit\", \"@type\": \"@id\" },\n    \"tieneIndicador\": { \"@id\": \"diqa:hasIndicator\", \"@type\": \"@id\" },\n    \"esIndicadorDe\": { \"@id\": \"diqa:isIndicatorOf\", \"@type\": \"@id\" },\n    \"contieneActividad\": { \"@id\": \"diqa:containsActivity\", \"@type\": \"@id\" },\n    \"contieneEvaluacion\": { \"@id\": \"diqa:containsAssessment\", \"@type\": \"@id\" },\n    \"ocurreEn\": { \"@id\": \"diqa:occursIn\", \"@type\": \"@id\" },\n    \"apoyaIndicador\": { \"@id\": \"diqa:supportsIndicator\", \"@type\": \"@id\" },\n    \"evaluaIndicador\": { \"@id\": \"diqa:evaluatesIndicator\", \"@type\": \"@id\" },\n    \"precede\": { \"@id\": \"diqa:precedes\", \"@type\": \"@id\" },\n    \"utilizaRecurso\": { \"@id\": \"diqa:usesResource\", \"@type\": \"@id\" },\n    \"utilizaInstrumento\": { \"@id\": \"diqa:usesInstrument\", \"@type\": \"@id\" },\n    \"cumpleEstandarQA\": { \"@id\": \"diqa:meetsQAStandard\", \"@type\": \"@id\" },\n    \"perteneceAEstandarGeneral\": { \"@id\": \"diqa:belongsToGeneralStandard\", \"@type\": \"@id\" },\n    \"descripcion\": \"diqa:description\", \"nombre\": \"diqa:name\", \"verboAccion\": \"diqa:actionVerb\",\n    \"nivelTaxonomico\": \"diqa:taxonomicLevel\", \"estrategiaDidactica\": \"diqa:didacticStrategy\",\n    \"tipoInteraccion\": \"diqa:interactionType\",\n    \"esColaborativa\": { \"@id\": \"diqa:isCollaborative\", \"@type\": \"xsd:boolean\" },\n    \"requiereSincronia\": { \"@id\": \"diqa:requiresSynchronicity\", \"@type\": \"xsd:boolean\" },\n    \"horasDedicacion\": \"diqa:dedicationHours\", \"tipoEvaluacion\": \"diqa:assessmentType\",\n    \"metodoEvaluacion\": \"diqa:evaluationMethod\", \"procedimientoEvaluacion\": \"diqa:evaluationProcedure\",\n    \"instrumentoEvaluacion\": \"diqa:evaluationInstrument\", \"pesoCalificacion\": \"diqa:gradeWeight\",\n    \"retroalimentacion\": \"diqa:feedback\", \"formatoRecurso\": \"diqa:resourceFormat\",\n    \"urlRecurso\": { \"@id\": \"diqa:resourceURL\", \"@type\": \"@id\" }, \"fuente\": \"diqa:source\",\n    \"tieneSubtitulos\": { \"@id\": \"diqa:hasCaptions\", \"@type\": \"xsd:boolean\" },\n    \"tieneTranscripcion\": { \"@id\": \"diqa:hasTranscript\", \"@type\": \"xsd:boolean\" },\n    \"tieneAlternativaTextual\": { \"@id\": \"diqa:hasTextAlternative\", \"@type\": \"xsd:boolean\" },\n    \"nivelWCAG\": \"diqa:wcagLevel\", \"politicaCurso\": \"diqa:coursePolicy\",\n    \"politicaCalificacionTexto\": \"diqa:gradingPolicyText\", \"politicaTrabajoTardio\": \"diqa:lateWorkPolicyText\",\n    \"politicaConductaAcademica\": \"diqa:academicConductPolicy\",\n    \"numeroSemanaOrdinal\": { \"@id\": \"diqa:ordinalWeekNumber\", \"@type\": \"xsd:integer\" },\n    \"identificador\": \"diqa:identifier\", \"puntos\": { \"@id\": \"diqa:points\", \"@type\": \"xsd:integer\" }\n  }\n};\nconst clavesValidas = new Set(Object.keys(contextoCorrecto['@context']));\n// --- FIN: Vocabulario Oficial ---\n\n// 1. OBTENER Y LIMPIAR LA SALIDA DEL LLM\nconst llmTextOutput = $input.first().json.output;\n\nif (typeof llmTextOutput !== 'string') {\n  throw new Error(`El input del LLM no es un string. Se recibió: ${typeof llmTextOutput}`);\n}\n\nconst cleanedText = llmTextOutput.replace(/^```json\\s*/, '').replace(/```\\s*$/, '');\n\n// 2. PARSEAR Y VALIDAR ESTRUCTURA BASE\nconst parsedJson = JSON.parse(cleanedText);\n\nif (!parsedJson['@graph'] || !Array.isArray(parsedJson['@graph'])) {\n  throw new Error(\"Validación Estructural Fallida: El JSON-LD generado no contiene la propiedad raíz '@graph' como un array.\");\n}\n\n// 3. VALIDACIÓN DE VOCABULARIO (CORREGIDA)\nconst graph = parsedJson['@graph'];\nconst erroresDeVocabulario = [];\n\nfor (const entidad of graph) {\n  // Validar que las PROPIEDADES USADAS existan en el vocabulario, pero no exigir que todas las propiedades posibles estén presentes.\n  for (const propiedad in entidad) {\n    if (!clavesValidas.has(propiedad) && propiedad !== '@id' && propiedad !== '@type') {\n      erroresDeVocabulario.push(`Propiedad inválida encontrada: \"${propiedad}\" en la entidad con @id \"${entidad['@id']}\". Esta propiedad no existe en di-context.json.`);\n    }\n  }\n}\n\nif (erroresDeVocabulario.length > 0) {\n  throw new Error(`Validación de Vocabulario Fallida:\\n- ${erroresDeVocabulario.join('\\n- ')}`);\n}\n\n// 4. CONFORMAR Y DEVOLVER EL OBJETO FINAL\nparsedJson['@context'] = contextoCorrecto['@context'];\n\nreturn {\n  json: {\n    contenido_jsonld: parsedJson\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        624
      ],
      "id": "397b25d8-225a-4067-a290-b0f5d6fe70b1",
      "name": "Validar y Limpiar"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "disenos_instruccionales",
        "filters": {
          "conditions": [
            {
              "keyName": "id_di",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.di_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "contenido_jsonld",
              "fieldValue": "={{ JSON.stringify($json.contenido_jsonld) }}"
            },
            {
              "fieldId": "estado_transformacion",
              "fieldValue": "Completa"
            },
            {
              "fieldId": "error_transformacion",
              "fieldValue": "Sin errores"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2016,
        624
      ],
      "id": "ae9b6aca-0964-4cc9-bfc0-dba4354d95ca",
      "name": "Subir JSON-LD",
      "credentials": {
        "supabaseApi": {
          "id": "m0DUcQthM94wIR7O",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n:5678",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "100",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "di_id": "3beea40b-47c2-4ed3-b14d-d3c52374c138",
            "user_id": "08599cea-434a-4be5-9079-0ee73b619ce4"
          },
          "webhookUrl": "http://localhost:5678/webhook/e71af77b-8c5f-4f15-af5a-f0fa2d75d279",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Convertir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir": {
      "main": [
        [
          {
            "node": "Leer output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer output": {
      "main": [
        [
          {
            "node": "Construir Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validar y Limpiar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Limpiar": {
      "main": [
        [
          {
            "node": "Subir JSON-LD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2fc8416a-2a70-4ce9-a9cf-8203e4471971",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81f9aa344da0912f901e07498089d3dd54ba6d767dbe4d581a261cb5d8886bb9"
  },
  "id": "52dCBOagXgGB8bCy",
  "tags": []
}